[2015-02-19 14:09] r-gaia-cs opened #1 "Add taxonomic name resolution to the EcoData Retriever to facilitate data science approaches to ecology"
## Rationale

The [EcoData Retriever](http://ecodataretriever.org) is a Python based tool
for automatically downloading, cleaning up,
and restructuring ecological data. It does the hard work of data munging so
that scientists can focus on doing science.

One of the challenges of ecological (and evolutionary) data is that the
names of species are constantly being
redefined. This makes it difficult

[2015-02-19 14:11] r-gaia-cs opened #2 "Improving reproducibility in science by adding provenance tracking to the EcoData Retriever"
## Rationale

The [EcoData Retriever](http://ecodataretriever.org) is a Python based tool
for automatically downloading, cleaning up,
and restructuring ecological data. It does the hard work of data munging so
that scientists can focus on doing science.

Science is experiencing a reproducibility crisis in that it is becoming
clear that published results often cannot be
reproduced. Part of the chal

[2015-02-19 21:11] wking opened #3 "Write a result-aggregation server for the installation-test scripts"
## Background

[Software Carpentry has][1] [installation-test scripts][2] so students can check that they've successfully installed any software required by their workshop.  However, we don't collect the results of student tests, which makes a number of things more difficult than they need to be.  Statistics about installed versions would make it easy to:

* Figure out how much trouble our student

[2015-03-03 02:54] akshayah3 commented on #1
@ethanwhite @r-gaia-cs I would like to work on this. Can you guys guide me as to where to begin?

[2015-03-03 09:56] itsyash commented on #3
Hi wking,

I am Yashasvi, a computer science undergrad from India. I am pursuing my Bachelors of Technology in Computer Science and Engineering from IIIT Hyderabad.

Regarding my open source experience, I have been a Google summer of code student for the past two years, for Benetech in 2013 and Mozilla in 2014.

I am assuming this is the right place to discuss more about this project.

First of al

[2015-03-03 17:11] wking commented on #3
On Tue, Mar 03, 2015 at 01:56:43AM -0800, yashasvi girdhar wrote:

Good to meet you, Yashasvi :).

Yup.

I think what parts get implemented when will depend on the student's
previous experience.  If you're comfortable with a particular web
framework already, it shouldn't take too long to knock out the
aggregator.  If you're new to writing web services, it will take a bit
more time ;).  If you sket

[2015-03-03 20:22] itsyash commented on #3
Hi,

First of all, I would like to clear some questions regarding the project :

The reason for using a relational database is that we would be having a pretty structured data to store, right?
If we are sure about the relational database, then we’ll have to design the database schema beforehand. For eg. one table contains records of the users, one table contains records of the workshops, in way su

[2015-03-03 21:42] prabh27 commented on #2
Hi ethanwhite, r-gaia-cs,
I am a 3rd year CSE undergraduate student from India.
Recently, I had implemented a wikipedia search engine using python and C++. I have fair bit of knowledge regarding parsing huge amount of data from the internet, and searching for queries in that data.
I think, this would be the right project for me, given my skillset.
I have written around 700-1k lines of code in pyth

[2015-03-04 00:08] Umang-Goel commented on #1
Hi @ethanwhite @r-gaia-cs ,
I would like to contribute to this project. Can you help me in getting started ?

[2015-03-04 15:59] gvwilson opened #6 "Enhance Amy, a Django application for managing workshops"
[Amy][amy] is a Django application for managing workshops like those run by Software Carpentry. Basic functionality is in place, but there are many outstanding feature requests, and it could use a lot more testing.

Amy is a straightforward [Django][django] application; experience with that framework (and with Python) is required. Some of the features we would like to add require Javascript, so fa

[2015-03-04 21:15] anuraghota commented on #1
Hello, I would like to work on this project.
While installing the EcoData Retriver, during the configuration settings, it always ends up saying "No module named pymysql" even if i have that module installed. What is the problem here?

[2015-03-05 04:42] r-gaia-cs commented on #2
@prabh27 Thanks for your interest in apply to GSoC.

@ethanwhite Could you help @prabh27?

[2015-03-05 04:45] r-gaia-cs commented on #1
@akshayah3, @Umang-Goel and @anuraghota Thanks for the interest in apply to GSoC.

@ethanwhite, @bendmorris and @sckott Could you help our possible students?

If this is a bug you can report it at https://github.com/weecology/retriever/issues.

[2015-03-05 15:32] ethanwhite commented on #1
Hi @akshayah3, @Umang-Goel and @anuraghota! Thanks for your interest in this project and my apologies for the slow response (I've been traveling). I'm really excited to see so many folks interested in this project.

So, how to get started on this project. I think there are really three main components:

1. Build the system for sending a species name to one or more of the taxonomic name resolution

[2015-03-05 15:51] TushRaj commented on #2
Hello @ethanwhite @r-gaia-cs
I would like to contribute to this project.
Can you guys guide me as to where to begin?

[2015-03-05 17:15] akshayah3 commented on #1
Thanks for the response @ethanwhite.
I just had a glance at `pytaxize` and it seems that a lot of work has gone into it even though its not upto the mark yet as compared to its R counterpart. Would it be reasonable to continue building that as a separate project and have the retriever use it?

[2015-03-05 17:25] ethanwhite commented on #1
@akshayah3 yes, definitely. If I was implementing this that's the direction I would probably choose to take and it's part of the reason that @sckott is on the mentoring team.

[2015-03-05 18:47] sbromberger opened #9 "Improve / Re-engineer the web and network framework for Julia"
Julia is a high-level, high-performance dynamic programming language for technical computing and has seen significant adoption in various fields/areas of practice. One of the current deficiencies in the language is the lack of a robust networking / data exchange framework for obtaining and exporting data using standard network protocols. Existing efforts have relied on unstable/minimally-supported

[2015-03-05 20:32] sckott commented on #1
I think it's best to modularize if possible, so using `pytaxize` in EcoData Retriever is a good idea. The aim with `pytaxize` was a complete port of the R version, but we can prioritize anything that needs to be done for the EcoData Retriever

[2015-03-05 22:28] ethanwhite commented on #2
Hi @prabh27! It's great to hear that you're interested in this project. My apologies for taking so long to get back to you - I'm just back in town following some travel.

Your background in working with large amounts of data and Python is definitely a good fit for the project and I was impressed to see that you'd already tried to install the software and submitted a bug report. Given you backgroun

[2015-03-06 00:51] prabh27 commented on #2
Hi @ethanwhite ,

I will also have a look at that project :)

Integrating an existing provenance library into the retriever would be the best possible solution, as it already does the other work that is required. The data can be stored in a database using secondary indexing (only storing the pointers to the files containing the data), and when new data is being added, efficient search techniques c

[2015-03-06 03:09] wking commented on #3
On Tue, Mar 03, 2015 at 12:22:46PM -0800, yashasvi girdhar wrote:

Yeah.  And it's easier to offload complex queries to the storage
engine if you're using a relational database.

It's good to pick a system that allows database migrations.  For
example, Django has [1].  That way you can adjust the schema later if
you don't get it completely right out of the gate.  But you'll need a
schema to start

[2015-03-06 03:33] ethanwhite commented on #2
I completely agree as long as we can find something that will work well.

Right now the container only stores the the retriever itself, none of the data. I was envisioning the container as allowing us to easily access different releases of the code so that if we've logged the version of the retriever used in the original analysis that version of the container could be checked out and run.

Yes, I

[2015-03-06 03:36] ethanwhite commented on #2
Hi @TushRaj - thanks for your interest in this project. I think the basic place to begin is the head over to the [main repository](http://github.com/weecology/retriever), checkout what we're up to and see if the overarching project is a good fit for your interests. Then I'd take a look at the rest of this thread to get some ideas about how the project might proceed.

[2015-03-06 04:23] moorepants opened #11 "Organization disambiguation"
I spoke this morning with Rainere about NumFOCUS's role as an umbrella org for GSoC and it sounds like you all want to accept applications for any NumFOCUS organizations. To make this more NumFOCUS oriented I'd like to propose some ideas/questions:

- May we move this repository to the NumFOCUS Github account?
- May we add a page to the NumFOCUS website about its participation in GSoC 2015?
- Migh

[2015-03-06 05:11] ahmadia commented on #11
cc-ing @aterrel

[2015-03-06 13:39] aterrel commented on #11
@moorepants I'm +1 to all this, below are a few places set up for ya'll to play:

repo: https://github.com/numfocus/gsoc
wiki: https://github.com/numfocus/gsoc/wiki/GSOC-2015
mailing list: https://groups.google.com/a/numfocus.org/forum/#!forum/gsoc
webpage: http://numfocus.org/programs/gsoc.html  ( https://github.com/numfocus/numfocus.org/pull/119 )

Let me know if you need anything else (Thanks @

[2015-03-06 13:47] aterrel commented on #11
Of course thinking about this, we should probably hit the "Transfer Ownership" button in settings. I went ahead and just push the repo, but if someone wants to give me the proper permissions here to transfer, I would be happy to delete the other repo and push this there.

[2015-03-06 16:16] akshayah3 commented on #1
@ethanwhite I have a query regarding your 3rd point. You mentioned that we have to validate the users data before running the name resolution, On what basis do we validate the data?

[2015-03-06 18:03] moorepants commented on #11
I don't have access to do that. Someone else will have to lead the charge.

[2015-03-06 18:09] ethanwhite commented on #1
@akshayah3 Basically in the scripts that define each dataset we'll need to add an indication of which column(s) contain the species name information. If there is no species name information in a given table then we won't run name resolution on that table.

[2015-03-06 18:36] wking commented on #11
On Fri, Mar 06, 2015 at 05:47:58AM -0800, Andy R. Terrel wrote:

This would be good, since we obviously want to preserve the existing
issues ;).

I have the technical permission to do this, but the repository is
really @r-gaia-cs' baby, so it would be good to get input from him
here before moving forward.

[2015-03-06 18:46] r-gaia-cs commented on #11
Sorry for the long delay to comment. I just need a few hours before start addressing this.

[2015-03-06 19:20] itsyash commented on #3
Hi @wking ,

Thanks for asnwering the queries.

I agree with you that java would be a bit heavy for the project.

Django sounds a good option but I suggest you to have a look at web2py. It's more lightweight that Django and I think you will find it a suitable fit for our project. There are several reasons why I chose web2py for my photo blog and I think those reasons can fit for our project also.

[2015-03-06 19:36] wking commented on #3
On Fri, Mar 06, 2015 at 11:20:38AM -0800, yashasvi girdhar wrote:

I doubt there's a huge performance distinction between RoR and the
Python frameworks.  Any of these should be performant enough for this
project.

I think all of these apply to Django too, with the exception of the
web-based IDE.  That's not a big win for me, anyway, since I'm very
comfortable with my local Emacs.  I'd be surprised

[2015-03-06 19:41] sohamg1992 commented on #2
Heya @ethanwhite
this is Soham from IIT-B India. I managed to set up the environment. Can you please let me know what I should start contributing ?

[2015-03-06 20:20] shahdevansh commented on #2
Hi @ethanwhite,

I'm a third year computer science student from India, and have prior experiance with working on python (~2k LOC) and SQLite.
Please let me know how to get started on the project?

Thanks.

[2015-03-06 23:48] r-gaia-cs commented on #11
Sorry again for the delay.

I'm OK in you do the transfer since "when a repository is transferred, all links to the previous location are automatically redirected to the new location", https://help.github.com/articles/transferring-a-repository/.

@wking and @aterrel could you coordinate to do it?

@aterrel will help a lot if at least I and @moorepants have write access to https://github.com/numfoc

[2015-03-07 01:21] aterrel commented on #11
On Mar 6, 2015 5:48 PM, "Raniere Silva" <notifications@github.com> wrote:

all links to the previous location are automatically redirected to the new
location", https://help.github.com/articles/transferring-a-repository/.

to https://github.com/numfocus/gsoc. For this you can add us as
collaborators or create a team under NumFOCUS with access only to
https://github.com/numfocus/gsoc.

Both of you

[2015-03-07 03:15] wking commented on #11
On Fri, Mar 06, 2015 at 05:47:58AM -0800, Andy R. Terrel wrote:

@r-gaia-cs delegated me to make the transfer, but I don't have admin
rights in the Numfocus org (needed to transfer between orgs [1]), and
GitHub doesn't let you transfer from an org to another user [2], so
I suggest:

  swcarpentry → wking → aterrel → Numfocus

I've done the first transfer and started the second.  @aterrel, I
think

[2015-03-07 03:37] aterrel commented on #11
Done

[2015-03-07 03:37] #11 closed

[2015-03-07 03:38] wking commented on #11
On Fri, Mar 06, 2015 at 07:15:13PM -0800, W. Trevor King wrote:

It looks like we're now in aterrel/gsoc2015, so that compleetes the
second transfer.  However, instead of a transfer from aterrel →
Numfocus I got a message from GitHub:

  Subject: aterrel added you to gsoc2015

@aterrel, I don't think you need to setup a team for aterrel/gsoc2015,
since you're just going to transfer the repository

[2015-03-07 03:40] aterrel commented on #11
I think it just did that automatically.

Also I changed the name to gsoc, just so we don't  have several gsoc20XX hanging out

[2015-03-07 11:44] narayanaditya95 commented on #6
Hi @gvwilson ,

I am a sophomore pursuing my B.Tech in Electronics and Electrical Communication engineering at IIT Kharagpur.
Congratulation for being selected as a mentor organisation for GSOC'15. I am interested to purse GSOC and work for this project.
My previous experience in Django involves building an online judge and a registration portal in Django for a student chapter I am part of.
I am f

[2015-03-07 12:02] lyttonhao commented on #1
Hi @ethanwhite, I'm Yanghao Li and have contacted you on email about this project. I have a query about the best name. Is the best name always the top rank matched name in the result of services? And does our task mean to replace the origin species name with the found best name? Do I understand it correctly? Thanks.

[2015-03-07 14:54] narayanaditya95 commented on #3
Hi @wking ,

I am Aditya Narayan. I am currently pursuing my Bachelors in electronics and electrical commuincation engineering.

I have quite a bit of experience working with Django. I have hosted an online judge and a registration portal for a student chapter I am part of. You can find them [here](https://github.com/narayanaditya95/HerokuJudge) and [here](https://github.com/narayanaditya95/Roboti

[2015-03-07 15:21] r-gaia-cs opened #13 "Need write access permission"
@aterrel Could you provide write access to this repository to

- moorepants
- r-gaia-cs
- wking

[2015-03-07 15:22] aterrel commented on #13
All are admins of the repo.
On Mar 7, 2015 9:21 AM, "Raniere Silva" <notifications@github.com> wrote:

[2015-03-07 15:29] r-gaia-cs commented on #13
[code]

[2015-03-07 15:37] aterrel commented on #13
I believe you need to go to the web interface of the repo and click the
accept invitation button.
On Mar 7, 2015 9:29 AM, "Raniere Silva" <notifications@github.com> wrote:

[2015-03-07 16:04] r-gaia-cs commented on #13
@aterrel Thanks.

[2015-03-07 16:04] #13 closed

[2015-03-07 18:42] ethanwhite commented on #1
Hi @lyttonhao - First, I think picking the top ranked match will serve as a good starting point, but ultimately we will  want to do something a little more sophisticated. I think we'd also want to check the quality of that match (which is another value that most name resolution services provide). If the quality is poor we may want to error on the side of being cautious and not replace them name. W

[2015-03-07 21:05] wking commented on #3
On Sat, Mar 07, 2015 at 06:54:13AM -0800, Aditya Narayan wrote:

That sounds reasonable to me.  Point me at your repository if you want
more feedback.  I'd avoid the requests module though, in favor of the
Python standard library's urllib [1,2].  The scripts are running on
novice-installed systems, so the fewer dependencies we need, the
better.

[1]: https://docs.python.org/3/library/urllib.reques

[2015-03-08 00:28] narayanaditya95 commented on #3
@wking
Thanks for redirecting me to urllib. Using the least number of dependencies was something I didn't consider.
Can you please suggest improvements to further augment this project. Are there other use cases where the result-aggregation server would be useful?

[2015-03-08 01:01] wking commented on #3
On Sat, Mar 07, 2015 at 04:28:26PM -0800, Aditya Narayan wrote:

I'm not sure what you mean.  Do you mean “will other projects want to
aggregate different things besides installation-test results”?  Or
“will SWC instructors/admins want to perform other queries besides the
ones sketched out in [1]”?

My guess for the first is “absolutely”, but I doubt it's worth making
the implementation from this

[2015-03-08 02:14] lyttonhao commented on #1
Thanks for your response @ethanwhite. I will do some survey about the name resolution first and think about this problem more seriously. Are there any other ways to discuss with you folks, such as IRC? Or  this issue is just the right place? Thanks.

[2015-03-08 02:40] SSchamnad commented on #9
Hello sbromberger
I am a fourth year CSE undergraduate student from India.
I have been reading about the implementation of computer networks for the past 2 months. The entire OSI architecture, the way each level is implemented for abstraction and other purposes has intrigued me.
I have successfully implemented a few network features such as a Daytime client-server, a simple FTP protocol, a TCP ech

[2015-03-08 04:03] darshan95 commented on #6
Hi gvwilson,

I am Darshan, a computer science undergraduate from India. I am pursuing my Bachelors of Technology in Computer Science and Engineering from IIIT Hyderabad.

I want to express my interest in working on this idea. I think I have the required skillls (Django, Jquery, python) and experience that is needed for this project. I have previously made some applications in Django and have a go

[2015-03-08 06:53] darshan95 commented on #3
Hi @wking,

I am a third year computer science undergraduate from India, and have prior experience with Django (web interface for Docker, application where a user according to it's role can upload files and comment), Python(~1K LOC) and MySql.

I want to express my interest in this project. I have tested and understood the codes of installation-test scripts.  I am trying to make a django draft app

[2015-03-08 13:10] r-gaia-cs commented on #6
@darshan95 You need to use Python3, see https://github.com/swcarpentry/amy/pull/219.

[2015-03-08 13:51] rajat503 commented on #1
Hi @ethanwhite @r-gaia-cs @sckott ,
I am interested in working on this project . I have experience with Web development, Python and SQL. Looking forward to hear from you as how to go about contributing to the project, preparing the application and hopefully working over the summer! It would be great if you could assign a task so that I could get familiar with the code base.

[2015-03-08 15:12] sckott commented on #1
@lyttonhao Services that do name resolution per se include http://resolver.globalnames.org/, http://api.phylotastic.org/tnrs, and http://tnrs.iplantcollaborative.org/  These give back names to match the queried name with a score of how well they match (often man names have exactly the same score, with e.g., 10 or more slight variants on the same thing). These services i think have a field that say

[2015-03-08 15:19] darshan95 commented on #6
@r-gaia-cs thanks for pointing out, but the application is being deployed using python2.7 with the mentioned changes.

[2015-03-08 16:12] ethanwhite commented on #1
@lyttonhao - we have been focusing discussion on issues since their asynchronous nature works well for us. Feel free to open issues in the retriever repository for questions or discussion of particular points. Keeping each issue focused on one thing will make it easier for us to manage. If having another communication channel becomes useful/necessary as part of GSoC, we'll be happy to open one, bu

[2015-03-08 16:22] ethanwhite commented on #1
Hi @rajat503! Glad to hear that you're interested in the project. In terms of good tasks to start getting familiar with the code base there are two levels of tasks that are good starter tasks.

1. The simplest would be to write a script for a new dataset. This is simple because the scripts are relatively isolated from the rest of the code base, but that's also a downside in terms of getting into t

[2015-03-08 16:31] ethanwhite commented on #2
Hi @sohamg1992 and @shahdevansh. I'm glad to hear that you're interested in this project.

In terms of my thoughts on how to get started on implementing this particular project, see my discussion with @prabh27 above.

In terms of getting started with working on the EcoData Retriever more generally, there are a couple of good starter tasks to start familiarizing yourself with the code base.

1. The

[2015-03-08 17:06] itsyash commented on #3
Hi @wking ,

So after your reply, I started looking on the technologies that you had mentioned.

I started with flask and in order to get familiar with it, I tried to build a microblog over this weekend (similar to the one that has been mentioned in the documentation) and I must say I am quite impressed with it. The intention behind suggesting web2py was that it’s quite lightweight as compared to

[2015-03-09 01:25] lyttonhao commented on #1
@sckott @ethanwhite Thanks for your responses. My current idea is to do some experiments on some datasets with several  services. With these results, we can see the score distributions and the consistency among these services. I think this can help us to determine how to choose the best name in the next moment.

[2015-03-09 02:09] ethanwhite commented on #1
@lyttonhao That sounds like an excellent next step.

[2015-03-09 02:56] wking commented on #3
On Sun, Mar 08, 2015 at 10:06:39AM -0700, yashasvi girdhar wrote:

It sounds reasonable to me, although whenever you are integrating with
a bunch of new tooling (Flask, SQLAlchemy, AngularJS, D3, …), it's
good to have backup plans in case one of them turns out to be more
complicated than you expect.  I'd try to start off as simple as
possible (and the API for pushing data is a good place for that)

[2015-03-09 03:01] wking commented on #3
On Sat, Mar 07, 2015 at 10:53:21PM -0800, Darshan Agarwal wrote:

Hi Darshan :).

It's up to you to decide how to represent the data in SQL, but I'd
suggest more than one table.  For example, you'll want to store
information about the user's system and upload timing, and then for
that upload there will be a reasonable number of separate packages
that are installed (or not).  Besides the version in

[2015-03-09 03:06] wking commented on #6
On Sun, Mar 08, 2015 at 08:19:22AM -0700, Darshan Agarwal wrote:

We dropped Python 2 support because handling Unicode on Python 2 is a
pain in the neck (see swcarpentry/amy#176).  There was a cost to
mainting the Python 2 compatibility and no benefits, so we dropped it
to focus solely on Python 3.  I'd recommend just using Python 3
instead of maintaining your own fork for Python 2 compatibility ;

[2015-03-09 09:23] darshan95 commented on #6
@r-gaia-cs, @wking thanks for the reply and will surely use Python3 in the future. May I know what should be my next step for the task after setting up 'Amy'

[2015-03-09 12:57] tpoisot commented on #1
I like this idea. If it means continuing the work on pytaxize, I'm happy to help too.

[2015-03-09 15:15] itsyash commented on #3
Hi,

I absolutely agree with you on both the points. I am going to write my roadmap for the project in a way such that I would be building the api incrementally, and would have time to switch the technology, if something is not working. I am confident that I can pull it off with this combination.

I started writing the roadmap of the project yesterday and couldn’t resist on writing a schema first

[2015-03-09 16:52] wking commented on #6
On Mon, Mar 09, 2015 at 02:23:18AM -0700, Darshan Agarwal wrote:

I'm not sure what @gvwilson had in mind when he created this issue,
but “there are many outstanding feature requests, and it could use a
lot more testing” sounds like “look through out non-deferred issues
[1] and submit pull requests for whatever looks appealing”.  Note that
a number of those issues already have outstanding pull req

[2015-03-09 22:10] gvwilson commented on #6
Hi Darshan,
Thanks for your interest in this project - one of the best ways to get
started would be to write a few unit tests to make sure our existing
code is working as it should.  For example, we could use a dozen tests
of uploading badly-formatted CSV files: role names that don't exist in
our database, events that don't exist, wrong number of columns, etc.
That will undoubtedly turn up some bu

[2015-03-10 00:32] sckott commented on #1
@tpoisot  :+1:  awesome

[2015-03-11 12:52] lyttonhao commented on #1
Hi, @ethanwhite @sckott. I have tested the Avian Body Size Dataset by [GNR](http://resolver.globalnames.org/). I search the species name by gnr_resolve in pytaxize and want to show some results I have gotten.
 1.  Since the origin gnr_resolve() don't support multiple names at the same query, I have modified a bit but still have some problems as showed in [this issue](https://github.com/sckott/pyta

[2015-03-11 18:21] sckott commented on #1
@lyttonhao See my recent commit and comment on sckott/pytaxize#12 - with those fixes, I imagine the speed problem will mostly go away? let me now if it doesn't

IF it is still too slow, there is a `POST` request option http://resolver.globalnames.org/api which may be faster.

I think `canonical_form` should work.

in terms of data sources in GNR, one can choose which data source included in GNR to

[2015-03-11 18:48] ethanwhite commented on #1
This dataset has a really large number of species compared to most, so should be on the extreme end time wise. Personally I'd generally be happy to have the computer spend a few hours doing the hard work of cleaning up the taxonomy for me. That said, if @sckott's fixes don't speed it up a lot we may want to warn the user that it will be time consuming.

This is partly a result of the taxon involve

[2015-03-11 19:13] sckott commented on #1
Taxonomic DBs do vary in strengths/foci, so we may want to target certain DBs for certain groups (e.g., mammals vs. plants, or North America vs. global)

[2015-03-11 19:24] tpoisot commented on #1
I don't think 900 seconds is unreasonable for a large dataset. Especially since the results will be cached after the first query, so the user won't have to go through that every time (right?).

[2015-03-11 19:56] ethanwhite commented on #1
Definitely.

[2015-03-11 22:08] pbanaszkiewicz commented on #3
Hi @wking,

we've been talking for some time now, but I never introduced myself :-) I'm Piotr, 3rd year Automatics Control and Robotics student. I participated in GSoC 3 times, last year with @gvwilson.

I have a couple of questions for you.

1. How good are installation testing scripts? I glimpsed at `swc-installation-test-2.py` and it's huuuge. Does it work correctly on all operating systems?

2

[2015-03-11 22:15] pbanaszkiewicz commented on #6
Hi Greg :)

A good proposal needs solid timeline, which needs some ideas what to do with Amy.

So… what does Amy need? Except for "to finally get released & hosted". Is there something huge enough to take a month or so to finish?

Cheers,
Piotr

[2015-03-11 22:44] wking commented on #3
On Wed, Mar 11, 2015 at 03:08:15PM -0700, Piotr Banaszkiewicz wrote:

Hi Piotr :).  I feel like I know your software side pretty well from
your amy work ;).

We haven't gotten a lot of feedback, and I personally don't have
access to a Windows machine for testing (and only occasionally have
access to an OS X machine).  But as far as I know, everything works
smoothly on all of our supported OSes.  P

[2015-03-12 19:00] itsyash commented on #3
Hi @wking ,

I have worked on the feedback provided by you on the schema.

Also, I have prepared a timeline that I would like to follow during the project. I have shared the doc with you. Please have a look and provide your feedback on that.

Regarding the installation script, I have completely understood all of it and thought of documenting it on a wiki page here : https://github.com/itsyash/swc-

[2015-03-12 19:30] wking commented on #3
On Thu, Mar 12, 2015 at 12:00:50PM -0700, yashasvi girdhar wrote:

Looks good to me.  I doubt the class hierarchy tree is particularly
useful, but the rest of that would make a nice comment outlining the
implementation.  Do you want to write that up and submit a PR against
wking/swc-setup-installation-test?

From the questionnaire we submitted to Google [1]:

  What is your plan for dealing with d

[2015-03-12 19:42] moorepants opened #19 "Simplify proposal method for students"
Hi,

This document seems overly complicated to me:

https://github.com/numfocus/gsoc/blob/master/CONTRIBUTING-students.md

Melange requires students to submit their applications in their system which is basically a text form (I think it may support formatting). At SymPy we've always used the Github wiki for students to develop their proposals. We create an [application template](https://github.com

[2015-03-12 20:05] wking commented on #19
On Thu, Mar 12, 2015 at 12:42:51PM -0700, Jason K. Moore wrote:

I'm not sure how much thought/experience went into the current
instructions.  My guess is that @r-gaia-cs just created a workflow
that made sense to him.  Can you point us at the SymPy procedure?
Something with eight years of polishing sounds appealing :).

I don't have a personal stake in this matter, so I'm happy with
whatever conc

[2015-03-12 20:33] moorepants commented on #19
This is our procedure: https://github.com/sympy/sympy/wiki/GSoC-2015-Application-Template

My opinion is that NumFOCUS should allow their sub-orgs to organize things like they want but also provide a templates, methods, etc for orgs that don't yet have that in place. So, sounds like we basically agree.

And just to be clear why I'm raising all these issues. SymPy has been doing this for eight year

[2015-03-12 21:20] gvwilson commented on #6
*   Integration with external authentication services (e.g., GitHub)
*   Reports (graphs showing how many people we've taught in the last
month/year/whatever, histogram of how often instructors have taught, etc.)
*   Integration with Mailman (should be able to see which lists a person
is signed up to / which people are signed up to lists - even larger
would be allowing admins to create a Mailman m

[2015-03-12 21:33] wking commented on #6
On Thu, Mar 12, 2015 at 02:20:55PM -0700, Greg Wilson wrote:

This is something that's hard to check off ;).  The other goals look
good to me, because they have a completion condition, would be useful
to have, but are not so critical that we can't release before we have
them.  I'd explicitly list the reports to be implemented in a proposal
along these lines.  If there's extra time and you fill in

[2015-03-12 21:43] wking commented on #19
On Thu, Mar 12, 2015 at 01:33:46PM -0700, Jason K. Moore wrote:

The proposal docs [1] seem to have a similar thrust to what we have
here, except that they're on the wiki instead of in pull requests.
Personally, I prefer pull-requests (with students working in their own
branch/repository) to wikis (With everyone working in the same branch
of the same wiki repository), but I expect most folks will

[2015-03-12 22:16] moorepants commented on #19
I don't disagree that getting students into the Github workflow early and often is a good thing. Our sub org just doesn't require it for the proposal, mainly because we don't require proposal review. We only require code review. I don't think students should be required to have their proposal reviewed. In fact, it is only optional, for our group, that students develop their proposals in the open.

[2015-03-12 22:30] wking commented on #19
On Thu, Mar 12, 2015 at 03:16:39PM -0700, Jason K. Moore wrote:

I agree.  The PRs or wiki pages are just an avenue for review if the
student wants it.  Obviously we need better wording to make that clear
;).

That makes sense, and I think we're generally on the same page.  I can
work up a PR with new wording for CONTRIBUTING-students.md to explain
our position, but I'm fine if someone else wants

[2015-03-12 22:46] moorepants commented on #19
I can also do the grunt work here. I just raised issue to make sure people would be fine changing it and also to solicit opinions on what should be changed. I'll wait for @r-gaia-cs to comment before working on a PR.

[2015-03-12 22:57] wking commented on #19
On Thu, Mar 12, 2015 at 03:46:34PM -0700, Jason K. Moore wrote:

Probably wise ;).

[2015-03-13 12:28] r-gaia-cs commented on #19
Sorry for the delay.

@moorepants Thanks for raising this issue.

I suggested use pull request because I get a email notification and I don't know how to do it with GitHub Wiki system **except** by `git pull` the wiki. Contributors that don't want email notification can disable it.

Something that I need to make clear, we will accept that **each sub org use their own process**. And **any** student

[2015-03-13 14:42] lyttonhao commented on #1
Thank you for all responses! I will test again on more datasets with the fixed pytaxize first.

[2015-03-13 16:32] moorepants commented on #19
@r-gaia-cs Ok, so how about this. I will make a small PR to clarify that the students should look to the sub-org first for proposal instructions and default to the one you came up with if the sub-org has none. Your instructions are fine and there is no real reason to change them.

And thanks for the note on the Markdown to HTML. We can add that tip in too.

[2015-03-13 19:10] itsyash commented on #3
useful, but the rest of that would make a nice comment outlining the
implementation.  Do you want to write that up and submit a PR against
wking/swc-setup-installation-test?

Done.
Firstly, I placed the comments with the respective functions, but then I thought
that writing them at one place on top of the file would be of more help.

[2015-03-14 23:34] pbanaszkiewicz commented on #6
Hi @gvwilson and @wking,

I have some questions below.

Is Amy still only for Giacomo/Carliss? Or is this step an enhancement that will eventually open Amy to instructors and learners?

You know best what statistics we want to have:

1) Number of people taught
2) Some sort of indicator of how often instructors teach
3) Number of instructors

Can't think of anything more. Any ideas what would be ni

[2015-03-14 23:53] wking commented on #6
On Sat, Mar 14, 2015 at 04:34:34PM -0700, Piotr Banaszkiewicz wrote:

My current understanding is that yes, that's the main draw, but we're
waiting until the admin-side stuff is done [1].

Maybe sites that haven't had an event in a while?  Hosts that haven't
hosted in while (once we distinguish sites from hosts, see
swcarpentry/amy#120).

Also, it would be nice to tie in some of our new business l

[2015-03-15 01:12] willingc commented on #19
@r-gaia-cs Looks like this can be closed since #22 was merged.

[2015-03-15 01:14] #19 closed

[2015-03-15 01:22] willingc commented on #2
@ethanwhite @bendmorris FYI
The WoRDS team http://words.sdsc.edu/ has done some quality work with provenance at SDSC/UCSD. Here's a link to some of their research: http://words.sdsc.edu/research

The director of the project is Ilkay Altintas, http://swat.sdsc.edu/ilkay/

[2015-03-15 21:01] itsyash commented on #3
Hello @r-gaia-cs ,

This is yashasvi. I am interested in this project and as you can see from the above conversation, I have been working on this project for some days now and have done things like :

- prepared the first draft of the schema with feedback from @wking .
- a PR merged [here](https://github.com/wking/swc-setup-installation-test/pull/4).
- proposed a timeline of the project that I wou

[2015-03-15 22:04] r-gaia-cs commented on #3
Hi @yashasvi,

Thanks.

This sounds good to me.

[2015-03-15 22:26] pbanaszkiewicz commented on #3
Hey @wking

Other instructors here in Krakow have Windows boxes so we can sit down one day and test this script as thoroughly as we can. If I have time, I will post updates to this script.

I agree.

Yes! Let's do it in Bash! Or Matlab :-)

I believe we don't track workshop topics. For example, at my first and only workshop, 2015-02-21-Krakow, we had bash, python, git, sql. Is that information sto

[2015-03-15 22:35] wking commented on #3
On Sun, Mar 15, 2015 at 03:26:43PM -0700, Piotr Banaszkiewicz wrote:

Thanks :).  Please make them separate issues under
wking/swc-setup-installation-test so we can stay focused on an
aggregation server here.

I don't think we store that anywhere machine-parsable.  If we go down
this route, I'd suggest wking/swc-setup-installation-test#2 instead of
using involving amy.  If it wants, amy can hit th

[2015-03-15 22:58] gvwilson commented on #6
Hi,

1.  I don't expect we will open this up to instructors and learners any time soon, but we do hope to have more admins organizing workshops.

2.  Some of the queries we have now are in `Makefile` under `make report`:
    *   workshop enrolment per workshop
    *   cumulative number of workshops to date
    *   total number of workshops taught by each instructor
    *   list of instructors who

[2015-03-16 01:34] r-gaia-cs commented on #9
@SSchamnad sorry for the delay.

@sbromberger Could you help @SSchamnad?

[2015-03-16 01:56] gvwilson opened #25 "Lessons as Packages"
The aim of this project is to build tools to turn lessons into packages that can be installed via standard package management applications.  A proof of concept exists at https://github.com/swcarpentry/installable-lesson-demo-01, and more information is given in the ideas-list file.

[2015-03-16 03:45] sbromberger commented on #9
Hi. We've been communicating via email for the past week or so. I think we're good so far.

[2015-03-16 12:17] r-gaia-cs commented on #9
@sbromberger Great.

[2015-03-21 13:36] lyttonhao commented on #1
Hi, @ethanwhite @sckott , I’m very sorry for my slow response. (I was busy with some other things these days and my computer also faced some problems.) I’ve tested some datasets again and found that
 1. if we choose a few specific data sources and use POST method, the speed would be much faster. However, it seems that different data sources may have different results. So I think we need to determi

[2015-03-21 20:37] ethanwhite commented on #1
Sounds like a good plan

Sounds good. Let us know when it's up and we'll try to provide some helpful feedback.

[2015-03-22 18:07] donalus commented on #25
This is an interesting idea. Am I correct as interpreting this as much of an exploratory project as it is an attempt to create a working prototype? On the surface it seems trivial, but there seems to be a lot of interesting challenges lurking in the shadows.

Are there potential challenges with licensing of package contents with this approach? I saw in the yaml for the conda packages it lists the

[2015-03-22 18:24] r-gaia-cs commented on #25
Yes, this is a bit explanatory.

[2015-03-23 03:39] wking commented on #25
On Sun, Mar 22, 2015 at 11:07:51AM -0700, Donal Heidenblad wrote:

I think we should clarify the scope a bit, because Greg's demo [1] and
the 2014 sprint project [2] both look like working prototypes to me.
What is this project looking for beyond that?  Something that builds
LaTeX papers locally?  Does it need to install any missing LaTeX
dependencies?  Does it need to install LaTeX itself automat

[2015-03-23 18:50] gvwilson commented on #25
On 2015-03-22 2:07 PM, Donal Heidenblad wrote:

There's certainly a lot of exploration involved, but there has to be a
working system at the end of the day.  The prototype at
git@github.com:swcarpentry/installable-lesson-demo-01, for example, has
to make decisions about where to store lessons when they've been
installed, where to put things like exercise files for learners to work
on, how to re-se

[2015-03-23 19:42] wking commented on #25
Hmm, is this about packaging lessons or packaging papers?  The title
for this issue [1] and the idea sounds like it's focused on lessons,
but the text for the idea sounds like it's talking about papers [2]
(which is why I used a paper for my ebuild example).

[1]: https://github.com/numfocus/gsoc/blob/049ab9cfc1230aaca11f0894550e3b6847606bfc/2015/ideas-list-swc.md#lessons-as-packages
[2]: https://

[2015-03-23 19:52] gvwilson commented on #25
I think (well, I hope) that a system capable of handling one will be
able to handle the other.  The use cases are "I want to review your
paper" and "I want to combine your paper with two others to do new
research" - the first is more-or-less standalone, unless your paper
depends on your previous work, but the second is closer to the lesson
installation example.

[2015-03-23 20:22] wking commented on #25
On Mon, Mar 23, 2015 at 12:52:20PM -0700, Greg Wilson wrote:

For “I want to rebuild your paper” or “rerun your simulation” (or
basically “re… ” anything), I think existing package managers already
have you covered (for example, see my “rebuild your paper” ebuild
above).  If the goal of this project is just to polish that UX up for
folks new to package management, that's fine (but I think we want

[2015-03-24 15:09] ViralBShah commented on #9
There is already a bunch of work that is ongoing on this.

Pinging @shashi who is doing a bunch of this work.

[2015-03-24 15:10] sbromberger commented on #9
@ViralBShah is the work ongoing in JuliaWeb or external? If external it would be great to get it consolidated so that we know what's happening.

In any case, the GSOC proposal has been submitted. Hopefully we can see some progress made here.

[2015-03-25 00:14] goretkin opened #44 "Spyder is not a CAS"
looks like the readme put SymPy's description in place of Spyder's.

[2015-03-25 11:02] r-gaia-cs commented on #44
Fixed at 0bbc9e0be8.

[2015-03-25 11:02] #44 closed

[2015-03-25 14:11] shashi commented on #9
@sbromberger there is some work external to JuliaWeb, e.g. @one-more-minute recently wrote [Mux.jl](https://github.com/one-more-minute/Mux.jl) which is excellent. I am working on a reactive UI framework which uses Mux for the web server, Mux also supports web socket routes and such.

I think the bit about TLS and higher level network interfaces is very true and needs to be worked on.

[2015-03-25 14:15] sbromberger commented on #9
@shashi thanks for the explanation. We'd love to have that work in JuliaWeb if you want to join us there. My main concern is that we're not duplicating effort with respect to the lower-level frameworks, and it doesn't sound like we are (too much - GnuTLS is still a contender until we can make a determination about OpenSSL's license).

[2015-03-25 14:43] lyttonhao commented on #1
Hi, @ethanwhite @sckott. I have a question about different name resolution services when I working on my proposal. Since one name resolution service contains many data sources, there would be a lot of overlaps between different services. For example, it seems that the number of [data sources in GNR](http://resolver.globalnames.org/data_sources) is the largest and covers almost [data sources in Phy

[2015-03-25 18:05] sckott commented on #1
Right, GNR has probably the largest number of data sources it pulls from. However, I think you'd still want to make sure it suits the needs of the project. Just saying to make sure during the project that it is all that is needed, instead of deciding now to ignore all other sources.

[2015-03-26 10:20] lyttonhao commented on #1
Okay, I get your point. Thanks @sckott.

[2015-03-26 19:55] donalus commented on #25
I am concerned with the suggestion that ebuild or any of the software make systems are "easy enough". Adoption is a huge issue and I think the plan nails it with: "creating a package manifest for each paper would require more effort than most scientists would be willing to put in". I think that is the primary hurdle, but maybe by focusing on lessons we could skirt the issue and focus on the techni

[2015-03-26 20:11] wking commented on #25
On Thu, Mar 26, 2015 at 12:55:38PM -0700, Donal Heidenblad wrote:

I agree, but I'm trying to put my finger on why these approaches have
not been adopted already.  My current guesses are:

a. There's no incentive to package your paper/lesson for reuse.  Even
   if it were really easy, folks are busy, and this is something you
   can skip.
b. Folks are less likely to be running systems like Gentoo/

[2015-03-26 20:38] r-gaia-cs commented on #25
@donalus I don't know why @gvwilson forgot to include links to @khinsen's blog

- https://khinsen.wordpress.com/2012/04/10/unifying-version-control-and-dependency-management-for-reproducible-research/
- https://khinsen.wordpress.com/2012/05/14/the-nix-package-manager-in-computational-science/
- https://khinsen.wordpress.com/2013/08/14/platforms-for-reproducible-research/
- https://khinsen.wordpres

[2015-03-26 21:35] donalus commented on #25
Thank you, @r-gaia-cs that is really helpful info. I agree with the greedy. My product manager brain didn't want to sign up for anything that I couldn't accomplish within the timeframe of GSOC. This scope seems reasonable and a good platform to build toward the rich feature set that I think we all want.

I just talked to Carole Goble in the hallway after she gave a great plenary talk on reproducib

[2015-03-26 21:39] r-gaia-cs commented on #25
Great.

[2015-03-27 07:31] khinsen commented on #25
@r-gaia-cs Thanks for adding the references. There's also my recent article on ActivePapers (http://dx.doi.org/10.12688/f1000research.5773.2), which discusses the relation between software deployment, software preservation, and reproducible research.

Package managers are primarily about software deployment, and the aim of this project is to extend them to reproducible research, which makes some e

[2015-03-27 11:53] r-gaia-cs commented on #25
@khinsen Thanks for the link to your recent article and made it under CC0, :sparkles:. Maybe with it I will understand ActivePapers once for all. =)

@donalus There is less than 7h so if you want to work on that,

1. Submit a very small draft of your proposal at https://www.google-melange.com/gsoc/homepage/google/gsoc2015 **as soon as possible**.
2. If you need to chat, you can call me under IRC (

[2015-03-28 01:34] r-gaia-cs commented on #25
I'm closing this issue since student application period is over.

[2015-03-28 01:34] #25 closed

[2015-03-28 01:34] r-gaia-cs commented on #9
I'm closing this issue since student application period is over.

[2015-03-28 01:34] #9 closed

[2015-03-28 01:34] r-gaia-cs commented on #6
I'm closing this issue since student application period is over.

[2015-03-28 01:34] #6 closed

[2015-03-28 01:34] r-gaia-cs commented on #3
I'm closing this issue since student application period is over.

[2015-03-28 01:34] #3 closed

[2015-03-28 01:34] r-gaia-cs commented on #2
I'm closing this issue since student application period is over.

[2015-03-28 01:34] #2 closed

[2015-03-28 01:34] r-gaia-cs commented on #1
I'm closing this issue since student application period is over.

[2015-03-28 01:34] #1 closed

[2015-03-28 13:41] ethanwhite opened #50 "Policy on editing proposals after deadline"
I have a request from a student to allow them to make some edits to their proposal following the deadline. It is possible to allow this with Melange, but it seems like we should have a policy for this that applies to all of the applicants.

[2015-03-29 00:34] r-gaia-cs commented on #50
@moorepants and @wking any suggestion?

[2015-03-29 11:45] panks commented on #50
That is my application actually, I submitted for [Taxonomic name resolution in Retriever](https://www.google-melange.com/gsoc/proposal/review/student/google/gsoc2015/panks/5724160613416960).

I was a little caught up with the project at college so I submitted the proposal really late. But there is not much to edit it in, I just had to add that the we would be using 'pytaxize' for name resolution a

[2015-03-30 01:17] moorepants commented on #50
I think this should probably be per sub-org instead of a policy that applies to everyone under NumFOCUS (that is, if we only rate the applicants for our sub orgs).

We haven't allowed this in the past with SymPy but we do ask students questions via the Melange interface for clarification on their proposals if needed. We also communicate via email or chat sometimes to understand more about the appl

[2015-03-30 08:16] asmeurer commented on #50
I would recommend not allowing it. The deadline is a hard deadline. We have allowed it in the past for special situations, namely, if we have a question for the student, and we want them to incorporate their answer into their proposal, or if we point out to the student some issue with their proposal that didn't come up before the deadline (like, "you will need to implement prerequisite X, because

[2015-03-30 13:10] ethanwhite commented on #50
The comments solution sounds fine to me. I'm OK with closing this issue if no one objects.

[2015-03-30 13:31] r-gaia-cs commented on #50
I will send a pull request covering this so please keep it open to remember me.  =)

[2016-01-22 20:50] pbanaszkiewicz opened #58 "Add proposal: reporting app from SurveyMonkey results"

[2016-01-25 09:52] #58 closed

[2016-02-10 02:10] rgaiacs opened #64 "Review GSoC 2016 application"
I already filled the GSoC 2016 application, there is a copy of it at https://github.com/numfocus/gsoc/blob/master/organization/profile.md#organization-profile. Changes can be made until February 19, 2016 at 19:00 UTC so **please** review it.

I will close this issue after February 19, 2016 at 19:00 UTC.

[2016-02-13 20:58] pbanaszkiewicz commented on #64
@rgaiacs maybe we should chat sometime Monday about this application? Maybe some mentor from other organization is interested?

[2016-02-18 06:17] pravj opened #77 "Query about the survey visualizer project"
Hi @rgaiacs and @pbanaszkiewicz,

I have a question about the "A survey responses visualizer application" project idea. Hope you will help me.

I saw that SurveyMonkey already provides features for visualizing the responses. For example, this is for a sample survey I have created.
![sample](http://i.imgur.com/4XVS3VN.png)

Although I'm not using the "Premium" service of SurvyeMonkey and assume tha

[2016-02-18 06:40] pbanaszkiewicz commented on #77
Hello @pravj.

Our SM surveys contain one question we later use to aggregate by: "which workshop did you attend?".

You can imagine we want to know answers from specific workshop and thus have to filter all answers by "attended workshop==2016-02-18-cracow" for example.

This is *very* painful to do in SM interface… With this project we want to use SM API to easily aggregate all the results in a th

[2016-02-18 08:01] pravj commented on #77
Thanks for the reply.

Yeah, I had the sense that we can develop it as a third party application so that it helps others too, just wanted to know what specific problem made you think of building a new one.

I asked this because I plan to go with this project, was learning more about the details and had this little doubt.

What do you think about the IP address based visual section?

Also, love thi

[2016-02-18 08:53] pbanaszkiewicz commented on #77
Hi @pravj,

Sure.

Excellent that you asked. We have a one more idea cooking for the GSOC (see https://github.com/numfocus/gsoc/pull/71), it should be ready later today. It's using Django and Python too, so you may be interested.

I'm not sure about it. Is it SurveyMonkey feature?

We take it a step further: if NumFOCUS is accepted, all students are highly encouraged to do their applications as Pu

[2016-02-18 12:59] pravj commented on #77
Yeah! It's a nice use of the platform.

I was checking out the SurveyMonkey API and found that they give us IPs of respondents, and surveys by SWC does track IP.

So I thought about making one visualization from the IPs for a workshop too, where we can map the estimated user location from the IP.

Yeah, I have been following the progress on this repository. :)

[2016-02-19 02:57] rgaiacs commented on #64
We did it. :-)

[2016-02-19 07:55] #64 closed

[2016-02-19 08:13] pbanaszkiewicz commented on #77
@pravj:

I don't think we need this now, but it's good to know there's such possibility.

[2016-02-29 23:05] rgaiacs opened #78 "Invite mentors"
If you want to be a mentor for NumFOCUS on GSoC 2016 please email me your email address. **You will find my email address on my GitHub profile page.**

[2016-03-01 15:59] vivekiitkgp opened #79 "Discussion: result-aggregation server for installation-scripts"
Hi @rgaiacs, @pbanaszkiewicz!

(Quoting from issue opened at [swc-repo](https://github.com/wking/swc-setup-installation-test/issues/12))

Thanks!

[2016-03-01 21:18] sarcasticbhokal opened #80 "More Information needed"
The present information about the project [Categorical Axes](https://github.com/numfocus/gsoc/blob/master/2016/ideas-list-matplotlib.md#categorical-axes) fails to convey the exact nature of work to be done. Could there be an elaboration of the abstract ?

[2016-03-02 06:40] pbanaszkiewicz commented on #79
Hi @vivekiitkgp,

Conda itself would not help us gather details of users' systems, would it?

I think your suggestion would rather help the last year's [Lessons as packages](https://github.com/numfocus/gsoc/blob/master/2015/ideas-list-swc.md#lessons-as-packages) project, in which case… @gvwilson what do you think?

Cheers,
Piotr

[2016-03-02 07:29] wking commented on #79
On Tue, Mar 01, 2016 at 10:40:30PM -0800, Piotr Banaszkiewicz wrote:

I think we've straightened this one out over on
wking/swc-setup-installation-test#12.

[2016-03-02 12:06] prerit2010 opened #82 "A survey responses visualizer application - queries"
Hi,
I am Prerit Garg, a final year B.Tech ( Computer Engineering ) Student in Jamia millia Islamia University. I have pretty good skills in python, flask, django, HTML, CSS, JavaScript, Boostrap etc. I have worked on several full stack projects involving both front end and back-end, while working with Zopper as an intern. I developed several dashboards and RESTful APIs. I would like to contribute

[2016-03-02 13:56] pravj commented on #77
Hi @rgaiacs and @pbanaszkiewicz,

As we have discussed, I'm commenting here the gist of our last email.

Yes, I use Atom for the [feed](http://pravj.github.io/atom.xml).

a proof that you have the skills to complete the project. If you have a
commit on Plotly's repository that is more than enough.

With Plotly, I have been working as a *Technical Editor, Intern* recently.

I have developed (and no

[2016-03-02 17:25] pbanaszkiewicz commented on #79
@wking @vivekiitkgp in that case please please keep GSOC-related discussions here – it will make easier to follow them.

[2016-03-02 17:32] prerit2010 commented on #82
I went through the SurveyMonkey API and called several methods. But I'm not sure what exactly is the "workshop id " which has been emphasized in the idea.

[2016-03-02 17:35] pbanaszkiewicz commented on #82
Hello @prerit2010,

`workshop_id` is shown in "Background" section of the idea.
It's simply a query parameter added to the survey's URL; its value is later saved with survey submission.

Cheers,
Piotr

[2016-03-02 17:39] pbanaszkiewicz commented on #77
Hello @pravj,

in that case all you need to do is follow the [contribution guide](https://github.com/numfocus/gsoc/blob/master/CONTRIBUTING-students.md#default-instructions) – I don't think many GSOC organizations compel this, but we encourage students to work in open and keep their application drafts public.

Cheers,
Piotr

[2016-03-02 18:02] pravj commented on #77
@pbanaszkiewicz

OK then, right now I'm applying thoughts on the type of visual representation according to different questions we have in surveys.

I will start progressing on the *open proposal*, after discussing my ideas with you and @rgaiacs.

"Open is the new cool." (One of my friends quotes this)

[2016-03-02 21:25] adityabhagat opened #83 "Queries regarding Survey Response Visualizer"
Can we have a survey page made public so that we can ascertain the fields that constitute it.
It will also allow us to recreate the survey form and browse SurveyMonkey admin.

[2016-03-03 04:58] rstolliker opened #85 "Question about result-aggregation server"
Hello Developers,

I am Ryan Stolliker, a Computer Science Student at University of California, Irvine, and I have experience with Python, HTML, CSS, JavaScript, and web frameworks for Python. I am interested in the result-aggregation server for installation-test scripts project, but I have a question. Will the data be stored permanently, collecting data across many workshops, or will data be crea

[2016-03-03 05:15] pravj commented on #83
Hi @adityabhagat,

If you just want to check out the survey content, Googling "*pre|post workshop survey swc*" will do it for you.

[2016-03-03 05:46] wking commented on #85
On Wed, Mar 02, 2016 at 08:58:20PM -0800, Ryan Stolliker wrote:

Can you explain why that matters?  Is it just to help select storage
technology?

I'm not a mentor for this project, but I'd expect:

* It should be easy to setup a one-off instance to collect data for a
  single workshop, in which case the data would likely be destroyed
  after the workshop.

* SWC will likely run a central instance

[2016-03-03 13:33] prerit2010 opened #87 "Result Aggregation Server project - next steps"
Hi @pbanaszkiewicz  and @rgaiacs

I was going through the idea of Result Aggregation Server for the installation-test scripts, and found it interesting. I have extensively worked on flask RESTful APIs while working with Zopper as an Intern. As mentioned in the description of project, I have created the [demo api](https://github.com/prerit2010/DemoAPI) using flask and mysql which stores the os deta

[2016-03-03 23:27] drobert19 opened #88 "Survey responses visualizer - Misunderstood requirements"
Hello! I am Robert Dumitru, a Freshman year Computer Science student at the University of Bucharest. I have extensive knowledge of C/C++, I know Python at a medium level and I have pretty vast knowledge of algorithms and data structures. Regarding my experience with web development, I have taken a course in Ruby on Rails, that being my starting point, and I have studied Django by myself, based on

[2016-03-04 08:43] prerit2010 commented on #87
@pbanaszkiewicz  and @rgaiacs
I have one more query regarding this project. In the requirements, it is mentioned :

What exactly type of model is expected here ?

[2016-03-04 12:42] chrismedrela opened #89 "Manage workflow for instructor training"
Hi @pbanaszkiewicz and @rgaiacs, I'd like to participate in GSoC and work on "managing workflow for instructor training" project. So far, I've created this pull request to Amy: https://github.com/swcarpentry/amy/pull/722

What are the next steps? I guess that I should analyze the current workflow. I know about the two etherpads ("Registration for one-hour discussion" and "Teaching demo") and nothi

[2016-03-04 14:22] ethanwhite opened #90 "EcoData Retriever ideas not linked to from main pages"
I just noticed that the ideas we contributed weren't linked to from anywhere (that I could find easily anyway). Should they be linked from the SWC pages, or somewhere else? Thanks.

[2016-03-04 18:00] pbanaszkiewicz commented on #89
Hello @chrismedrela  :-)  Here's @gvwilson's outline: https://github.com/swcarpentry/board/pull/81

I'll take care of your PR later today.

[2016-03-04 18:36] pbanaszkiewicz commented on #88
Hello @drobert19,

1. We have to create a pull request to get a review of our draft proposal?

You can stop talking to us and submit your proposal directly on GSOC website, but I highly encourage you to add your proposal as a PR to this repository – we're fans of openness :-)

Here are instructions: https://github.com/numfocus/gsoc/blob/master/CONTRIBUTING-students.md

The best way is to keep your

[2016-03-04 18:45] pbanaszkiewicz commented on #87
Hello Prerit,

as per my latest email, I'm switching to this thread instead.

"A survey responses visualizer application". As mentioned in the description of the application, i have created a sample django application, and plotted a few charts using plotly.
I was not sure, whether I should make this thing public as of now, so sharing it with you privately.

I highly encourage you to keep it public

[2016-03-04 18:47] pbanaszkiewicz commented on #83
@adityabhagat please let me know if @pravj solution worked for you or if you need me to give you the links.

[2016-03-04 18:57] narayanaditya95 opened #91 "Sample Django Project | Survey Responses Visualizer"
Hi @pbanaszkiewicz ,

I am Aditya Narayan. I have contributed six commit to [aMY](https://github.com/swcarpentry/amy) and wish to participate in GSOC 2016 under SWC.
I have created a [test survey](https://www.surveymonkey.com/r/HSKQPQQ) and written a [sample project](https://github.com/narayanaditya95/survey-visualiser) which creates bar graph from the responses. It is hosted [here](https://infini

[2016-03-04 18:59] vivekiitkgp commented on #79
Hi @pbanaszkiewicz @wking

I have written a tiny demo server that accepts some of the machine information from the user and shows it. It isn't sophisticated at the moment but shows proof of concept.

Please see: https://github.com/vivekiitkgp/swc-demo

Also, I paste below the partial proposal I have written corresponding to the things I discussed before. Please review and  comment.

---

#### Coll

[2016-03-04 18:59] prerit2010 commented on #87
@pbanaszkiewicz

No, actually i have been working for both projects "A survey responses visualizer application" , and also "Result Aggregation Server project". For the latter one, i created a flask [demo api](https://github.com/prerit2010/DemoAPI)
And for the Survey responses visualizer, as mentioned in the description, a django application was preffered, so I created the [sample application](http

[2016-03-04 19:05] pbanaszkiewicz commented on #87
Aaah, okay @prerit2010, in that case having two issues in this repository, one per proposal, is the way to go.

Definitely. You can't be accepted for both, but you can apply for both.

Not interested in our third project proposal, https://github.com/numfocus/gsoc/blob/master/2016/ideas-list-swc.md#manage-workflow-for-instructor-training ?

[2016-03-04 19:09] pbanaszkiewicz commented on #91
Hi @narayanaditya95!

Thanks for remembering me about your contributions!

Thanks!

The general steps are:

1. Get in touch with mentoring organization (which you did)
2. Show them your contribution (which you did)
3. Write a project proposal (instructions are here: https://github.com/numfocus/gsoc/blob/master/CONTRIBUTING-students.md)

Cheers,
Piotr

[2016-03-04 19:10] prerit2010 commented on #87
@pbanaszkiewicz
Third project is interesting too ;). But for now i am concentrating on those 2 only. Primarily on the survey visualizer application. I have been coding extensively for it. I would appreciate if you could review the code [here](https://github.com/prerit2010/SurveyMonkey-Sample) and propose some suggestions for it. And how should I carry forward from here.

[2016-03-04 19:16] pbanaszkiewicz commented on #87
@prerit2010 I don't think we should work on improving your application. We wanted to have a proof that you can program, that you know Django and Python, that you can use git – and we have it.

But I'll contact organization admin to make sure that I'm thinking correctly.

Anyway, the next step from here is writing a good proposal for the projects. See my answer here: https://github.com/numfocus/gso

[2016-03-04 19:22] narayanaditya95 commented on #91
@pbanaszkiewicz

Should I make any amendment to the sample project?
I wish to integrate the survey visualiser with AMY. Should I open a pull request at AMY making the required code changes as a proof of concept or proceed with writing my proposal?

Thank you.

[2016-03-04 19:24] pbanaszkiewicz commented on #79
Hi @vivekiitkgp,

thanks for cross posting. I think you should proceed to start a proposal draft (PR). We'll add our comments in there.

(You can wait till tomorrow since I've just had an idea on how to make these PRs easier.)

Cheers,
Piotr

[2016-03-04 19:26] pbanaszkiewicz commented on #91
Hi @narayanaditya95,

No – we wanted to have a proof that you can program, or that you know git / Python.

That's the outcome of this GSOC project we hope for.

Please proceed with writing your proposal. You can wait till tomorrow – I want to make some adjustments in the PRs here.

Cheers,
Piotr

[2016-03-04 19:32] vivekiitkgp commented on #79
Thanks!

--
https://vivekiitkgp.github.io

On Sat, Mar 5, 2016 at 12:54 AM, Piotr Banaszkiewicz <
notifications@github.com> wrote:

[2016-03-04 22:29] pravj commented on #77
Hi @pbanaszkiewicz and @rgaiacs,

I'm writing the visual representations I have considered for different question type, with the explanation for the selection.

I'll start integrating this with the *open proposal*, as soon as the PR template by @pbanaszkiewicz is merged.

To ask and to discuss more with the approach, I have tagged both of you at some places in the explanation. I hope you will help

[2016-03-04 22:39] pravj opened #93 "Issue with the grammar of a question in pre-workshop survey"
18th question in the "_pre-workshop_" survey is titled as "**Was** the workshop held in the United States?".

This seems a little wrong in the context, as we are talking to the user before the workshop. There might be case when the user is taking the survey before coming to the workshop.

We use the same title for "_post-workshop_" survey also, which is fine.

For "_pre-workshop_" surveys, I think

[2016-03-05 03:46] rstolliker commented on #85
Thank you for your response. Yes, I was asking because I was thinking about what storage technology to choose and how to design the schema of the database, and your post helped clarify that for me.

[2016-03-05 09:24] rgaiacs commented on #80
@tacaswell Could you reply @sarcasticbhokal?

And sorry for the delay.

[2016-03-05 09:54] rgaiacs commented on #90
@ethanwhite Could you send to me the logo of EcoData Retriever and one line description of it so that I can add that to https://github.com/numfocus/gsoc#ecodata-retriever?

Thanks and sorry for don't add the link before.

[2016-03-05 13:45] ethanwhite commented on #90
![data_retriever_logo_image_only](https://cloud.githubusercontent.com/assets/744427/13547815/a157d518-e2ae-11e5-897f-8d7ecbc74b0f.png)

Thanks!

[2016-03-05 14:23] rgaiacs commented on #90
@ethanwhite Thanks for the logo. Could you check if `README.md` is OK? If not, could you open another issue, please?

[2016-03-05 14:23] #90 closed

[2016-03-05 14:44] tacaswell commented on #80
Sorry, was not following this repo, i will do this today.

[2016-03-05 14:50] rgaiacs commented on #77
@pravj Your idea of how to address the different types of questions is very good.

[2016-03-05 14:54] pravj commented on #77
Thanks, glad to hear this.

I'm designing the architecture for caching the plots, will update it with the *open proposal* in the night.

[2016-03-05 15:05] ethanwhite commented on #90
Looks great. Thanks!

On Saturday, March 5, 2016, Raniere Silva <notifications@github.com> wrote:

[2016-03-05 15:16] rgaiacs commented on #82
@prerit2010 Thanks for your interest. I hope that @pbanaszkiewicz explanation helped you.

@maneesha could you duplicate the form so that students could have a look on it?

[2016-03-05 15:43] rgaiacs commented on #93
@maneesha Could you fix this?

@pravj Thanks very much.

[2016-03-05 16:00] narayanaditya95 commented on #91
@pbanaszkiewicz @rgaiacs
I would like to ask whether the graph of the responses over time be of any use to the organization hosts?
SurveyMonkey does not give us a profile of the responses over time. Since, we will be polling its API, we can construct such a profile by using a persistent database. Else, we can always use a non-persistent cache and invalidate them after a given point of time.

[2016-03-05 17:54] prerit2010 commented on #87
@pbanaszkiewicz and @rgaiacs ,

In the installation test script project, there is a code in the file swc-installation-test2.py
[code]
why are we doing this extra check whether the failure has been printed or not ??

[2016-03-05 18:29] rgaiacs commented on #87
I believe we are trying to avoid print the same failure twice.

@wking Could you provide more insight here? Thanks in advance.

[2016-03-05 18:33] prerit2010 commented on #87
That would mean, we have duplicate entries in the failures list.

[2016-03-05 18:54] sarcasticbhokal commented on #80
Thomas already responded to me via mail.

[2016-03-05 21:26] wking commented on #87
On Sat, Mar 05, 2016 at 09:54:35AM -0800, PRERIT GARG wrote:

I try to explain things like that in the commit that landed them.
Checking here:

  $ git blame swc-installation-test-2.py | grep -A8 'if failures'
  4e2cfb33 swc-installation-test-2.py       (W. Trevor King 2012-12-30 07:19:15 -0500  239)     if failures:
  4e2cfb33 swc-installation-test-2.py       (W. Trevor King 2012-12-30 07:19:15 -

[2016-03-06 08:37] narayanaditya95 commented on #91
@pbanaszkiewicz @rgaiacs

After extensively studying the SurveyMonkey API and some correspondence with the SurveyMonkey support, I have realized that the current workflow for surveys, when directly executed in AMY, will face these difficulties:
Problems with the SurveyMonkey API:
* The API is minimal as it does not allow us to filter the responses programmatically like the web dashboard allows us

[2016-03-06 08:48] pbanaszkiewicz commented on #91
Yes, I'm aware of this fact.

What do you mean? It has its own ID and is included in the responses.

I disagree. The aim is to help admins with creating filtered views for SM responses, not to help them alter the surveys.

Plus once this project is effective, admins will be able to cut out the "Please select the workshop" question because we can rely on `workshop_id` parameter.

We're not going th

[2016-03-06 09:05] narayanaditya95 commented on #91
According to the article [Custom Variables](http://help.surveymonkey.com/articles/en_US/kb/What-are-custom-variables-and-how-do-I-use-them):

The custom variables are only available on exports and not on the API as API methods [get_respondent_list](https://developer.surveymonkey.com/docs/methods/get_respondent_list/) and [get_responses](https://developer.surveymonkey.com/docs/methods/get_responses

[2016-03-06 09:07] meetvora opened #98 "Query: Survey Responses Visualizer"
Hi.

After going through the _Abstract_ and the various surveys conducted by _Software Carpentry_ on _SurveyMonkey_, I have understood the application as follows:
1. There are 5 surveys associated with each workshop ID
2. As a workshop conductor (host) only can view the results of his workshops, the conductor has to log into the application using his/her SurveyMonkey account (The _OAuth_ & _Survey

[2016-03-06 09:12] pbanaszkiewicz commented on #91
I checked it before writing the proposal and our custom variable was present in API results – I'll check once again soon so make sure they didn't change anything.

Hey, no problem, nothing happened. We're all planning the project here. ;)

How frequently is the list updated?

We call them *administrators*. They are people responsible for taking care of workshop organization (finding instructors, m

[2016-03-06 09:23] narayanaditya95 commented on #91
Since each workshop now has a duplicated survey for it, we only fetch responses to this particular survey to show responses for one workshop.
To aggregate responses for a particular set of workshops, we collect responses from all surveys within the set, and visualize them.

I assumed that the application will be used primarily for AMY. My bad.
The application will be distinct from AMY.
When not in

[2016-03-06 10:41] prerit2010 commented on #87
Aahh! Thanks :)

[2016-03-06 11:35] shubhsingh594 opened #99 "manage work flow for instructor training - ideas discussion."
Project Title :-  manage work flow for instructor training.

1) Issue : Recording applications from individuals and groups interested in instructor training.
sol -
At this point I noticed only some users can log into AMY , mostly admin and some other instructors. A new trainee can only apply ( through a form, and wait for the committee to contact ). what I propose is to create a login accounts for

[2016-03-06 11:38] pbanaszkiewicz commented on #91
@narayanaditya95:

To aggregate responses for a particular set of workshops, we collect responses from all surveys within the set, and visualize them.

Not sure if you're talking about current state of surveys or your survey split idea from https://github.com/numfocus/gsoc/issues/91#issuecomment-192830776

If you meant current state, then there's only 5 surveys per all workshops so we *have to* ag

[2016-03-06 11:55] narayanaditya95 commented on #91
I was referring to the survey split idea.
Sure, I will proceed with nothing being altered on the SM side. :) (One workshop with the question / custom variable).

Thank you for clearing out the doubts.

[2016-03-06 11:57] pbanaszkiewicz commented on #77
Definitely it's good to consider how to represent different type of questions. It's possible that some questions may allow for more than one representation (e.g. bar plot and pie chart).

[2016-03-06 12:01] pbanaszkiewicz commented on #91
You're welcome! Ask if more doubts emerge.

[2016-03-06 12:08] rgaiacs commented on #99
@shubhsingh594 Please follow https://github.com/swcarpentry/board/pull/81.

@gvwilson Could you help @shubhsingh594 to polish the issues?

[2016-03-06 12:15] rgaiacs commented on #98
@maneesha and @gperu could you help @meet-vora?

[2016-03-06 12:25] rgaiacs commented on #80
As you prefer.

[2016-03-06 12:27] pbanaszkiewicz commented on #98
Hello @meet-vora,

I don't think so. The Survey Monkey host is Software Carpentry, but we want to show the results to people who are *workshop hosts / organizers*. As this project develops we will probably be able to host one set of filters/aggregates under specific URL (for example `https://surveys.software-carpentry.org/view/643asfd5`) for workshop host to view.

Generally speaking: I didn't foc

[2016-03-06 12:35] narayanaditya95 commented on #91
@pbanaszkiewicz

I plan to use Metricgraphics.js if we are interested in the time profile of the responses.
Otherwise, I would prefer [Chart.js](http://www.chartjs.org) over Metricgraphics.js.

[2016-03-06 12:47] pbanaszkiewicz commented on #91
@narayanaditya95 I don't think we need to see how responses changed over time, so you can use whichever plotting library you want.

[2016-03-06 12:47] narayanaditya95 commented on #91
+1

[2016-03-06 13:19] pravj commented on #77
Hi @pbanaszkiewicz,

Yeah, I have mentioned that in the case of "Multiple Choice - Single Answer" type questions.

I have submitted a pull request [#97] for my proposal also, it will be helpful if you can review that.

[2016-03-06 13:43] rgaiacs commented on #78
If your name is not check on the list and you didn't received a email invitation to be a mentor for GSoC please send a email to raniere@rgaiacs.com as soon as possible.

- [ ] @gregcaporaso
- [ ] @insertinterestingnamehere
- [ ] @izaid
- [x] @mwiebe
- [ ] @tmylk
- [ ] @piskvorky
- [ ] @dvij
- [ ] @joehuchette
- [x] @madeleineudell
- [x] @mlubin
- [ ] Eric Firing
- [x] Michael Droettboom
- [ ] Phil

[2016-03-06 16:30] meet-vora commented on #98
Hello @pbanaszkiewicz,

Ok. Now that things of got a bit clearer, I am a bit confused with some other doubts.

1. Can I know how Software Carpentry currently associates the surveys with their conductors, so that only the conductors can view the results of their surveys and not anyone else?

2. Also, what kind of authentication will be needed to implement, because I can't find any kind of login/sig

[2016-03-06 19:00] pbanaszkiewicz commented on #98
@meet-vora so is everything clear? Don't hesitate to ask if you need something explained better.

Cheers

[2016-03-06 19:34] gvwilson commented on #99
Thanks very much for the ideas - have you had a chance to look through
https://github.com/swcarpentry/board/pull/81 for more ideas?  If so,
comments there (or an update to this PR) would be very welcome.

cheers,
Greg

On 2016-03-06 6:35 AM, shubhsingh594 wrote:

--
Dr Greg Wilson
Director of Instructor Training
Software Carpentry Foundation

[2016-03-06 22:20] #80 closed

[2016-03-07 03:02] shubhsingh594 commented on #99
@gvwilson  thank you for your comments. Yes I have gone through https://github.com/swcarpentry/board/pull/81 .
I opened this issue because I wanted to run my ideas through the community first. I noticed that AMY has been designed to handle a lot of administrative functions, and my proposal would make it more accessible to the trainees and general users. I wanted to know if the community would be w

[2016-03-07 12:28] gvwilson commented on #99
I think we have to make it accessible to trainees and trainers in order
for them to manage their own information - we can't afford to keep doing
bookkeeping for them.  That's going to require a careful pass through
the system to ensure that only the right people can see certain
information, which will require at least a couple of days.

[2016-03-07 13:06] shubhsingh594 commented on #99
@gvwilson yes thankyou, that is exactly what I plan to do. For the trainees,  I plan to create a whole new interface,and the AMY dashboard can be retained for the administrators and the instructors only. Once the trainee has been certified we can move them to the instructors list ( AMY Dashboard ).

[2016-03-07 16:07] prerit2010 commented on #87
Hi @pbanaszkiewicz and @rgaiacs ,
I have made a pull request of the draft proposal for result aggregation server project. Please review it.
Also, i have some queries about the "Manage workflow for instructor training".
Here we need to create a new interface for the trainees right ? User will login to the workshop application, and will only be able to see options according to his account type ( tra

[2016-03-07 16:29] gvwilson commented on #99
OK, so who records that a particular trainee has completed a particular
stage of the training?  We can't have trainees do that themselves, so is
it the discussion leaders and/or instructors?  If so, do the trainees
get to see their comments?  And how many clicks does it take to move
someone through the system?  Discussion leaders and trainers aren't
going to want to have to click through one page

[2016-03-07 18:26] narayanaditya95 commented on #91
@pbanaszkiewicz
Since there exists about five survey in total, are they collectively owned by one SurveyMonkey account?
Do we want to make the charts and results of the surveys public or do we implement individual logins for each organizational hosts?

[2016-03-07 21:52] meet-vora commented on #98
Hi @pbanaszkiewicz

There are two approaches to deal with the idea:

1.a. **Assumption**: The data of the survey is fetched after the completion of the workshop. Thus, once the results have been viewed, after completion of the workshop, there will not be any changes in the responses/results.
1.b. The data once fetched is stored in the database (caching) so that no repeated request is made to the S

[2016-03-07 22:47] rgaiacs commented on #87
@gvwilson Could you answer the questions?

[2016-03-08 12:43] shubhsingh594 commented on #99
![refined_all_trainees_page](https://cloud.githubusercontent.com/assets/15982349/13600751/fd23972a-e550-11e5-9e33-a1fe9e669622.png)

This is a crude version of what the AMY might have to manage the workflow.
(PLS NOTE : These features are not functional as of yet. I haven’t written the back-end for these functions, I have just made changes to the front end. )

Because the process involves so many

[2016-03-08 12:57] gvwilson commented on #99
This is looking really good - how about having one column in this
display for every stage, with a widget in each column to allow input
directly on the page (AJAX-style, rather than form submission, since
we're likely to do these in batches).  The stage widget should create a
pop-up with:

- a pre-populated date field (today's date)
- space for comments
- a checkbox to say "stage complete"

and sho

[2016-03-08 19:41] ghoshbishakh opened #105 "Add taxonomic name resolution to the EcoData Retriever to facilitate data science approaches to ecology - doubts"
@ethanwhite @henrykironde
Hi i am Bishakh Ghosh,
I am really interested to participate in GSOC 2016 under EcoData Retriever. I have cloned the source code and installed it and was able to download a couple of datasets.
I have made one PR [https://github.com/weecology/retriever/pull/442](https://github.com/weecology/retriever/pull/442) however I don't know if it is any good.

I have knowledge of py

[2016-03-09 06:25] narayanaditya95 commented on #91
@pbanaszkiewicz I received a reply from the SurveyMonkey support staff.

The custom variables will show up as a different question id in the get_responses call. You can see the custom variable id using the get_survey_details call, so this data is accessible via the API, though depending on your needs it may be easier to view them via our standard exports from the site as you mentioned.
Thanks agai

[2016-03-09 06:35] pbanaszkiewicz commented on #91
@narayanaditya95:

Yes.

Right now it's either public (everyone with a link can access) or password protected (rarely).
I'd start with the first approach, maybe mention the second as well.

Thanks for inquiring them!

Hopefully one day :-)

Cheers

[2016-03-09 06:54] pbanaszkiewicz commented on #98
Hey @meet-vora:

There's *pre-workshop* assessment survey which can receive new answers up to a few days before the workshop, but I'd still stick to "fetch once" idea – just for example add some sort of invalidation ('if data is older than 6h, re-fetch it').

Okay.

JSON is fine, but NoSQL isn't – it would be against the purpose of having this as a standalone Django third-party application.

And b

[2016-03-09 07:01] wking commented on #98
On Tue, Mar 08, 2016 at 10:54:28PM -0800, Piotr Banaszkiewicz wrote:

I haven't been following along, so apologies if this drive-by is off
topic, but PostgreSQL has some nice JSON support since jsonb in 9.4
[1].  That would be a whole lot nicer than dumping JSON into a string
field.  If portability with other database engines is important, the
choice between dumping JSON into a string field or unp

[2016-03-09 07:05] pbanaszkiewicz commented on #98
Definitely – but we're apparently sticking to SQLite for dev right now so I'd like to have something cross-db compatible.

That's a very important note: yes, we may need to run simple queries… Or just extract the field we care most about ('workshop_id' / 'which workshop you attended?') into separate DB field, and store the rest of JSON in TEXT field.

@meet-vora give it a thought, please.

[2016-03-09 09:19] goelrohan6 opened #106 "Support for complex numbers within Convex.jl"
I am a second-year computer science student from Thapar university India,
I am interested in working on the idea "Support for complex numbers within Convex.jl".
Can someone guide me regarding this project, what all things should start studying and also I am not quite not clear with the idea what exactly has to be made.

Waiting for your early response,
Thankyou
Rohan Goel
(goelrohan6@gmail.com)

[2016-03-09 13:09] shubhsingh594 commented on #99
@gvwilson  thankyou for your comments.

![new_trainee_page_with_changes](https://cloud.githubusercontent.com/assets/15982349/13635798/1cd6b84e-e624-11e5-84a7-4a47cb46bd02.png)

i havent put in the date field as of yet, because the javascript would mostly pull the client's computer date (local date) in to the field and people from different regions may face a problem, maybe the django timestamp wou

[2016-03-09 19:44] ethanwhite commented on #105
Hi @ghoshbishakh - I'm glad to hear that you're interested in working with us on the EcoData Retriever. Thanks for already contributing. The first PR was definitely a nice addition!

Yes, I think that doing some experimenting with either iPlant or another TNRS is a good next step. One good way to that would be using [pytaxize](https://github.com/sckott/pytaxize), which is a Python module for inter

[2016-03-09 19:48] ethanwhite commented on #105
@ghoshbishakh - I can't remember the exact GSoC rules. I know you can apply to multiple projects, I'm not sure whether or not you can apply to multiply projects within the same organization. My general suggestion would be to chat with us about the different ideas/options and then write a single proposal EcoData Retriever to allow you to focus fully on making that the best possible proposal. That s

[2016-03-09 20:02] gvwilson commented on #99
This is looking really nice - thanks!  Next question: how do we decide which people are displayed?  Is it everyone who has taken an instructor training course but hasn't yet got an instructor certification (i.e., they're "in progress")?  Can the list be filtered, e.g., by how long ago they did their training, or by which instructor training class they took part in? @maneesha @ChristinaLK what do y

[2016-03-09 20:07] sckott commented on #105
hi @ghoshbishakh !  Yes, willing to serve with @henrykironde and you.

[2016-03-09 22:50] mlubin commented on #106
CC @madeleineudell

[2016-03-10 00:22] rgaiacs commented on #105
Google changed the system than handle the applications. We can test this next Monday.

@sckott Could you email me (raniere@rgaiacs.com) just to me invite you as a mentor? Thanks.

[2016-03-10 06:04] madeleineudell commented on #106
Hi Rohan,

This project is best for someone who has had a course or two in optimization, and is somewhat comfortable working with complex numbers, but it's open to people with perseverance who are willing to learn. To understand what this project is about:

1) You'd want to start by familiarizing yourself with the workings of Convex.jl by playing around with some of the examples.
2) Then I'd sugge

[2016-03-10 06:18] goelrohan6 commented on #106
Ma'am, i had a course on optimisation in my previous semester.

1) I've been going through some [examples](http://nbviewer.jupyter.org/github/JuliaOpt/Convex.jl/blob/master/examples/basic_usage.ipynb) of convex.jl
2) I've also started studying a bit about [dcp](http://dcp.stanford.edu/).
3) also in improving my Julia skills.

I will follow the links given by you.

Thanks a lot @madeleineudell

[2016-03-10 08:25] ghoshbishakh commented on #105
@ethanwhite

I am concentrating on taxonomic name resolution then!

I was eperimenting with iPlant and will study pytaxize. But I am not completely clear about the process of reconcilation of different species names.

Can you please provide me names of some datasets where this problem is very apparent? And may be some example of how some of the names can be reconciled? Or is there any general lite

[2016-03-10 13:57] ethanwhite commented on #105
Plants typically have the worst issues in this regard, so probably the `Gentry` dataset would be a good example of data that needs would have a lot of species names being replaced.

@sckott - can you take this one?

This would happen automatically as the data is being downloaded and inserted into the database.

I think doing this non-destructively is definitely the way to go, either by adding a ne

[2016-03-10 16:53] ethanwhite commented on #105
@ghoshbishakh - it may also be worth having a look at this issue from last year #1 for some more discussion. We didn't end up having a slot of this last year, which is why the project is still available, but there's some useful conversation about general approaches to this problem.

[2016-03-10 18:07] shubhsingh594 commented on #99
so the idea was that once a trainee has completed his/her training (are certified), the lead instructor or the admin could click on the Export Trainee as instructor button which will transfer the trainees account to instructor ( named as PERSON in AMY ) table and delete them from the trainee table, we would retain the login credentials, so that when they login they would be directed to the AMY das

[2016-03-10 18:36] sckott commented on #105
sorry about the bugs @ghoshbishakh - haven't spent much time on it lately :)

this depends on how you want to do it. pytaxize connects to a variety of web APIs for taxonomic databases, and some that are specifically meant for name resolution.  e.g., you could query NCBI  (a service that doesn't do name resolution, but rather just gives you taxonomic data) for names then do any name comparison/reso

[2016-03-10 18:51] ghoshbishakh commented on #105
@sckott bugs are not a problem I am trying to understand how it works so I will be glad to fix any bug if I can!

[2016-03-11 09:02] ramcha24 commented on #106
Hi, I would like to introduce myself,
I am Ramchandran, 3rd year student at BITS Pilani, goa Campus, I am very interested in contributing to the julia-opt ecosystem , specifically -  Adding support for complex numbers to Convex.jl,
For the past one year I have been working on Convex Optimization, and have used CVX, CVXPY and Convex.jl  to solve problems. This is a theoretical report I had submitte

[2016-03-11 19:48] drobert19 commented on #88
Hello again!
I developed a very simple Django [project](https://github.com/drobert19/SurveyVisualizer-Plotly) to prove my coding skills. This is just a draft so it does not work the way it should.

What do I have to do next? Is the proposal my final step?

[2016-03-11 20:37] goelakash opened #108 "Upgrade to datapackage.json standard - Questions"
Hello @ethanwhite @henrykironde ,

I am a 4th year B.Tech. student from DTU, Delhi. I am interested to contribute to this project. I have been working with python libs and frameworks such as Scikit-learn and Flask.

For this project, I assume we have to port all these [scripts](https://github.com/weecology/retriever/tree/master/scripts) into a datapackage.json format and edit the parser so that it

[2016-03-12 05:58] rstolliker commented on #85
Hello again, @pbanaszkiewicz, @rgaiacs.

I have made [an example server](https://github.com/rstolliker/APIexample). Should I now make a pull request for my proposal draft, or are there other steps I should take?

[2016-03-12 08:43] shubhsingh594 commented on #99
@gvwilson i have a question.
Lets say there are Y applications , and X of them get selected for instructor training, what would you like to do with the other applications. Should we keep those remaining applications or will they be asked to apply again in future.

[2016-03-12 11:27] gvwilson commented on #99
They should be kept in queue.

[2016-03-12 13:41] chrismedrela commented on #89
I think that it'd be wise to have as small milestones as possible. The first milestone could be porting SWC Checkout Process to Amy -- that is Homework, Discussion Session, Checkout Session and welcoming to the community.

I also believe that it's crucial to get users feedback as soon as possible. So I propose to pick up some early users (trainers and their new trainees + the head of training), th

[2016-03-14 02:51] goelakash commented on #108
@ethanwhite

[2016-03-14 04:37] henrykironde commented on #108
Hi @goelakash, we are glad to hear that you're interested in working with us on the [EcoData Retriever](https://github.com/weecology/retriever) and having future goals for the Retrieve. Like you stated, we intend to shift from text to json format.

The prior requirements would be looking at the  [EcoData Retriever](https://github.com/weecology/retriever) and having a PR contribution send in. You c

[2016-03-14 08:46] pbanaszkiewicz commented on #85
@rstolliker yes, please go ahead; you should follow these instructions: https://github.com/numfocus/gsoc/blob/master/CONTRIBUTING-students.md

[2016-03-14 08:46] pbanaszkiewicz commented on #88
@drobert19 what does it mean "it does not work the way it should"?

[2016-03-14 09:45] pbanaszkiewicz opened #110 "ANNOUNCEMENT to prospect students"
Hello all,

today (the PI day: March 14, 2016) marks the start of GSOC'16 application period. Since 2015 edition, some rules have changed and starting later today you can submit a _draft_ of your proposal to the GSOC website which we, mentors, will comment on.

As you noted, NumFOCUS began accepting the drafts as Pull Requests earlier (https://github.com/numfocus/gsoc/pulls).

We will keep an eye

[2016-03-14 12:35] ethanwhite commented on #108
Hi @goelakash - thanks for your interest in the project!

As @henrykironde said, typically GSoC applicants will submit a PR and engage in a discussion of their ideas about the proposal before officially submitting it. We can either chat more here or you can submit a draft proposal as a PR and we can chat more in that PR (or both).

[2016-03-14 13:37] ghoshbishakh commented on #105
For the Gentry database, querying tnrs for each row with pytaxize.tnrs_resolve() takes a really long time as the dataset itself is quite huge. Also it is completely dependent on the network speed and I really do not have a responsive internet connection. So I was wondering if this process can be moved to cloud. The dataset will be first downloaded in the server, acted on by the tnrs and returned t

[2016-03-14 14:19] chrismedrela commented on #89
@gvwilson , What do you think about that?

[2016-03-14 14:55] ethanwhite commented on #105
The good news is that Gentry is the pretty much the worst case scenario with needing to check about 7500 species values. We only need to check things that have been identified all the way to species (i.e., `full_id == 1`. We'll only want to check each unique `species_id` once for a total of 7354 checks, which will mean we will want to cache the species name replacements. If we do this in a pickled

[2016-03-14 15:16] drobert19 commented on #88
It means that if you reload the "details" page it would not work because it loses the access token and the plotly.js example is purely static, it's hardcoded. The latter one is not necessarily a problem, but I just wanted to make clear the page's functionality.

[2016-03-15 07:22] shubhsingh594 commented on #99
![layout](https://cloud.githubusercontent.com/assets/15982349/13770094/aa23d670-eaaa-11e5-81a8-312f860ecd7b.png)

This is a possible scheme of workflow of managing instructor training through AMY. @gvwilson would love to hear your thoughts on it.

![individual1](https://cloud.githubusercontent.com/assets/15982349/13770193/63a47960-eaab-11e5-8312-87a1d9a8ede5.png)

This is the form filled by traine

[2016-03-15 07:30] pbanaszkiewicz commented on #89
@chrismedrela:

This first phase is really important since you want to open AMY to other people. Right now we are sure we can handle ~6-10 people on AMY, but with this new features we **have to**:

* use better database (https://github.com/swcarpentry/amy/issues/716)
* start tracking sessions (how many people are on and when) – the easiest would be Google Analytics or Piwik
* analyse all AMY views

[2016-03-15 07:40] pbanaszkiewicz commented on #88
Okay, thanks for the sample project.

The next step is to create a draft of your proposal. The details are here: https://github.com/numfocus/gsoc/blob/master/CONTRIBUTING-students.md#default-instructions

[2016-03-15 10:47] gvwilson commented on #99
This is looking really good - please go ahead and write up your formal
proposal as soon as you can.

Well done!
Greg

On 2016-03-15 3:22 AM, shubhsingh594 wrote:

--
Dr Greg Wilson
Director of Instructor Training
Software Carpentry Foundation

[2016-03-15 16:39] jooolia opened #112 "Interested in sci-kit bio project: Are there mentors?"
Hi,

I am interested in developping the sci-kit bio "A scikit-bio-based bioinformatics file format converter" project. However, I see there are no mentors listed on the ideas page, is this problematic?

[2016-03-15 19:55] souravsingh opened #113 "General purpose next-generation sequence pre-processor for QIIME 2-Questions"
Hello! @gregcaporaso I am Sourav Singh and I have made pull requests to QIIME 1,micronota and scikit-bio project. And as an enthusiast in bioinformatics , I am really interested in working on the project. As a student who has used some preprocessing tools like FastQC and Trimmomatic.

 I would like to know if we can add a plugin which can allow for paired-end read merging, which can make it easier

[2016-03-15 23:15] rgaiacs commented on #112
Great.

@gregcaporaso Can help you find a mentor.

[2016-03-16 10:12] gvwilson commented on #99
Hi @shubhsingh594 - can you please write this up and post it as a pull request as soon as possible so that we can give you feedback?  If you have questions, I'm gvwilson@software-carpentry.org.

[2016-03-16 10:12] gvwilson commented on #89
Hi @chrismedrela - can you please write this up and post it as a pull request as soon as possible so that we can give you feedback?  If you have questions, I'm gvwilson@software-carpentry.org.

[2016-03-16 10:48] narayanaditya95 opened #115 "Manage workflow for instructor training"
@gvwilson  @pbanaszkiewicz

I wish to write a proposal for _Managing work flow for instructor training_ project.
Can a student write two proposals under NumFocus?

[2016-03-16 10:54] shubhsingh594 commented on #99
@gvwilson yes thankyou for your comments,  I will posting a pull request today itself.

[2016-03-16 11:28] gvwilson commented on #115
Sure.

[2016-03-16 20:04] jooolia commented on #112
Ok great! Thanks @rgaiacs!

[2016-03-17 00:00] rtriangle opened #118 "Interested in pandas project"
Hello,
I am very interested in developping the "Weights support in most stat functions" project.
May I ask if the project is still open?

[2016-03-17 01:29] ethanwhite commented on #105
@ghoshbishakh - another possible option would be to grab a dump of the full database when necessary and use it locally. @sckott has just announced a new R package for this: https://discuss.ropensci.org/t/taxonomic-databases-from-r/337 Adding these databases to the retriever and then using them for TNRS could be added to the proposal if you thought this was a good way to go.

[2016-03-17 04:16] ghoshbishakh commented on #105
@ethanwhite Do all tnrs provide dumps?

[2016-03-17 10:27] ethanwhite commented on #105
I'm not sure. @skcott?

On Thursday, March 17, 2016, Bishakh Ghosh <notifications@github.com> wrote:

[2016-03-17 13:44] chrismedrela commented on #89
@pbanaszkiewicz,

Are you sure that SQLite will be too slow or will cause some other problems? Or are there any issues that can be solved by moving away from SQLite?

What are the benefits?

[2016-03-17 13:50] gvwilson commented on #89
Hi - please mail me when you've got the proposal in as a PR and I'll review it as quickly as I can.

[2016-03-17 17:03] raj-maurya opened #120 "Interested in contributing to "EcoData Retriever" project."
Hello **@ethanwhite**, @henrykironde

I am a 3rd year B.Tech (Computer Science and Engineering) student from UIET. I have gone through the project ideas list and very much interested in "EcoData Retriever" project.

I am comfortable with the skill set requirement and have experience for the same, I also have previous experiences as well and I have done some research projects where I was engaged in

[2016-03-17 17:47] sckott commented on #105
No. And not all taxonomic databases do tnrs like things per se (they may have some fuzzy search built in, but are not meant to specifically do name resolution)

The thing most web services use is some implementation of `taxamatch`. The reference implementation is some weirdness implemented in _Oracle PL/SQL _

* paper at http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4172526/
* Ruby:
    * resolving:

[2016-03-17 17:48] sckott commented on #105
regarding the R pkg above for downloading taxonomic databases, there's just a thin layer there to help people that aren't familiar with databases, so it's easy enough to just re-write that for python, and there's others to include: e.g., NCBI is a big one - i know ive seen python scripts for downloading NCBI's weird dump format

[2016-03-17 20:30] pbanaszkiewicz commented on #89
@chrismedrela not sure about SQLite speed, but I'm concerned about it behaviour when so many people would try to access it simultaneously.

Tracking would allow us to know if a sudden upgrade would make angry 1 person or 20 people :-) + we'd get insight in what features are most often used.

[2016-03-17 22:02] chrismedrela commented on #89
@pbanaszkiewicz , what exactly are you concerned about? SQLite claims [here](http://www.sqlite.org/whentouse.html) that there are no scalability issues for websites with less than 100K hits/day. Moving away from SQLite will take a bit of time (a few weeks?) which IMO could be utilized much better.

I don't have strong opinion on tracking. I'm only wondering what is faster: 1) to directly ask users

[2016-03-17 22:09] gvwilson commented on #89
Tracking/analytics is a secondary issue for now - please focus on the
workflow management itself.  In particular, how will we get information
about members of groups that sign up?

[2016-03-17 23:01] rgaiacs commented on #118
@jreback and @shoyer Could you help  @Jettriangle?

[2016-03-17 23:06] jreback commented on #118
yep this is still open

[2016-03-18 14:20] henrykironde commented on #120
@raj-maurya  thank you for having interests in contributing to the  [EcoData Retriever](https://github.com/weecology/retriever).

have a look at the  [EcoData Retriever](https://github.com/weecology/retriever) and have a PR contribution send in. You could use the [issue](https://github.com/weecology/retriever/issues) log to make a contribution and we can go from there.
 Typically GSoC applicants w

[2016-03-18 15:37] souravsingh opened #121 "Interested in Categorical Axes Project for matplotlib"
Hi, @tacaswell I am interested in working on Categorical axes project for matplotlib and very keen to work on it. I would like to know about kind of interactions required for packages like seaborn and pandas and Compound Artists Project.

[2016-03-19 00:38] chrismedrela commented on #89
I've created pull request with draft of proposal here: https://github.com/numfocus/gsoc/pull/123.

[2016-03-19 08:14] pbanaszkiewicz commented on #50
In 2016: since GSOC officially supports proposal drafts this year, I don't think we should allow changing proposals after the deadline.

@rgaiacs agree / disagree?

[2016-03-20 19:31] pbanaszkiewicz commented on #110
Regarding **Survey Visualizer Application** project: SurveyMonkey has recently published a [new API v3](https://developer.surveymonkey.com/api/v3/).

Since it's so close to the proposal deadline, we don't expect you to change your proposal to address the new API, and the grading of proposals won't differ if you only address the v2 API.

We'll discuss the possibility of implementing this project in

[2016-03-20 22:11] tacaswell commented on #121
Have you read https://github.com/numfocus/gsoc/blob/master/CONTRIBUTING-students.md#default-instructions ?

As I have said on the mailing list, I think a major part of this work will be sorting out how the internals of mpl can be changed to natively support catarogical values as plotting values.  The interaction with seaborn/pandas would be to re-write their plotting to use the new capabilities.

[2016-03-21 16:51] ethanwhite commented on #105
@ghoshbishakh - Just wanted to drop you a quick note to recommend that you post a draft proposal prior to the Friday deadline if you'd like us to comment and provide recommendations on it. That can either be done as a PR to this repo or using Google Docs through the GSoC website. If you post to the GSoC website please ping us in this issue so that we know to go check it out.

[2016-03-22 11:19] raj-maurya commented on #120
@henrykironde  I have gone through https://github.com/weecology/retriever  and have successfully configured the software packages and tried writing some scripts.

I have question just to discuss, will it be good to use SQLite database management system  I a situation  of accessing your database with more than one process?

[2016-03-22 11:37] raj-maurya commented on #120
@henrykironde  @ethanwhite
Please guide me, how to include the GSOC check list while having PR .
please help..!

[2016-03-22 12:35] rgaiacs commented on #50
I'm OK not allowing any change on proposals after the deadline.

[2016-03-22 12:37] ethanwhite commented on #50
No objections here.

[2016-03-22 12:54] gvwilson commented on #50
+1 to no changes after deadline

[2016-03-23 15:01] henrykironde commented on #120
@raj-maurya nice that you were able to successfully configure everything :+1:

I have question just to discuss, will it be good to use SQLite database management system, In a situation of accessing your database with more than one process?

@raj-maurya can you clarify more on the above

[2016-03-24 01:02] codnee commented on #120
SQLite can only handle writer at a time to a database.

He is probably concerned of a situation where multiple processes try to write to the database at the same time and result in locking/performance issues.

[2016-03-24 02:30] prabh27 opened #133 "Improving reproducibility in science by adding provenance tracking to the EcoData Retriever."
@ethanwhite Please have a look at the proposal.

[2016-03-24 02:35] ethanwhite commented on #133
HI @prabh27 - were is the proposal? I don't see a PR from you here and it isn't showing up the NumFOCUS proposals at https://summerofcode.withgoogle.com/

[2016-03-24 03:16] henrykironde commented on #120
Thanks @codnee for the clarification, For the case of the  [EcoData Retriever](https://github.com/weecology/retriever) the design is using single process to write.

Since it is a single user application, we did not consider multiple processes writing to the database

In case your design/implementation is going to utilize multi processes, then i guess go ahead and look at the issues that may come u

[2016-03-24 14:51] ethanwhite commented on #105
Just a last reminder that final proposals are due on https://summerofcode.withgoogle.com/ today. I don't currently see your proposal there so just wanted to make sure you have the chance to submit one if you want to.

[2016-03-24 14:55] ghoshbishakh commented on #105
@ethanwhite really sorry for late reply, I am really interested in this project but actually I was looking at another proposal also and I had already submitted the application for that. I am reluctant to submit multiple proposals actually and was improving the previous one.

[2016-03-24 14:57] ethanwhite commented on #105
@ghoshbishakh - no problem at all. I think that's a good call. I just do my best to make sure that folks don't accidentally let a deadline slip by. Best of luck with your other proposal!

[2016-03-24 14:57] ghoshbishakh commented on #105
@ethanwhite thanks!

[2016-03-24 15:30] Roger-luo opened #137 "JuliaQuantum: New Application Framework"
I wrote the proposal [here](https://github.com/Roger-luo/Resources/blob/master/GSoC/2016/JuliaQuantum-:-Framework-for-QuComput.md)

I would love to hear your feedback :-)

[2016-03-25 03:58] codnee opened #140 "EcoData Retriever Python3 Support"
Good evening,

In the next few hours I will be sending a proposal for this project. I hate being the guy who gets in touch at the last minute, but sometimes there is no way around that.

I already cloned the repo and installed everything to get myself started.
<img width="1280" alt="screen shot 2016-03-24 at 9 09 58 pm" src="https://cloud.githubusercontent.com/assets/5662780/14037592/44ef0490-f21c

[2016-03-25 17:04] pbanaszkiewicz commented on #140
@codnee it's really hard to get feedback this late, but good luck with your proposal anyway.

[2016-03-25 18:03] rgaiacs commented on #140
@codnee You have only one hour left to submit your proposal. And this is your last warning.

[2016-03-26 05:38] vivekiitkgp commented on #79
@rgaiacs Closing. Thanks!

[2016-03-26 05:38] #79 closed

[2016-03-28 17:35] #105 closed

[2016-04-11 18:06] prabh27 opened #149 "Improving reproducibility in science by adding provenance tracking to the EcoData Retriever"
I had a look at the provenance library. Let us discuss the requirements so that we can get started on the design of the problem, and see if this is a good fit or not.
Link -> http://archive.is/74MON

[2016-04-11 19:21] rgaiacs commented on #149
@prabh27 You probably want to move this discussion to https://github.com/weecology/retriever.

[2016-04-11 19:21] #149 closed

[2016-04-20 12:59] Roger-luo commented on #137
@rgaiacs Hi, I asked about the official enrollment letter.  https://github.com/numfocus/gsoc/pull/138 I'm sorry I received my official letter from univ late, but I cannot upload the official letter as it says I'm rejected due to

Will there be any possibility to upload my new letter and let the people consider my proposal again?

[2016-04-20 13:38] rgaiacs commented on #137
No. Google's rules. Sorry for that.

[2016-04-20 13:38] #137 closed

[2016-09-10 15:58] #78 closed

[2016-12-28 17:08] #50 closed

[2016-12-28 17:08] #77 closed

[2016-12-28 17:08] #82 closed

[2016-12-28 17:08] #83 closed

[2016-12-28 17:08] #85 closed

[2016-12-28 17:08] #87 closed

[2016-12-28 17:08] #88 closed

[2016-12-28 17:08] #89 closed

[2016-12-28 17:08] #91 closed

[2016-12-28 17:08] #93 closed

[2016-12-28 17:08] #98 closed

[2016-12-28 17:08] #99 closed

[2016-12-28 17:08] #106 closed

[2016-12-28 17:08] #108 closed

[2016-12-28 17:08] #110 closed

[2016-12-28 17:08] #113 closed

[2016-12-28 17:08] #115 closed

[2016-12-28 17:08] #118 closed

[2016-12-28 17:08] #120 closed

[2016-12-28 17:08] #121 closed

[2016-12-28 17:08] #133 closed

[2016-12-28 17:08] #140 closed

[2017-01-16 17:16] ferrine opened #152 "Interested in contributing to PyMC3"
Hi! I'm third year undergraduate student interested in Bayesian statistics, Machine Learning and  Economics.

I want to contribute to [pymc3](https://github.com/pymc-devs/pymc3) and extend Variational Inference methods it currently supports. Moreover I am sure that it is possible to make unified interface for these methods so it will be easy to implement new ones. I hope @twiecki can be my mentor

[2017-01-16 20:06] kain88-de opened #153 "Add MDAnalysis as a project"
MDAnalysis would like to take part under the NumFOCUS umbrella as well.  We already have a list of [project ideas](https://github.com/MDAnalysis/mdanalysis/wiki/GSoC-2017-Project-Ideas) that I would copy here.

@rgaiacs are you OK with this? I just want ask officially instead of just adding it myself.

[2017-01-16 22:29] rgaiacs commented on #153
@aterrel is who has the power to say that it is OK. :-)

But based on my experience from previous year I would say "yes". MDAnalysis fits on the "open source data science projects" that NumFOCUS is interested to support.

[2017-01-16 22:32] rgaiacs commented on #152
Hi @ferrine,

Thanks for contact us. At the moment we are collect project ideas and projects to apply under NumFOCUS umbrella. If pymc3 want to apply under NumFOCUS umbrella they are welcome.

We will be looking for the contact from @twiecki or someone else on behalf of pymc3.

[2017-01-17 10:19] twiecki commented on #152
Hi @rgaiacs,

We want to apply to GSoC under NumFOCUS. Two projects were already discussed: Improve support for variational inference as @ferrine mentioned, and optimize PyMC3 for speed.

[2017-01-17 11:46] peadar-elevate commented on #152
@ferrine I find it surprising you're still an undergraduate :)

[2017-01-17 20:32] aterrel commented on #153
Let's assume yes for now. And I'll ask the board for confirmation.

The only thing your org is missing from the standard set of requirements to
be affiliated with NumFOCUS is a Code of Conduct. Although we have several
orgs grandfathered in who are not advertising a CoC.

[2017-01-17 21:30] kain88-de commented on #153
We are working on a code of conduct https://github.com/MDAnalysis/mdanalysis/pull/1165

I want to take some time to make make it official to ensure everyone of us is happy with it. But I assume that will happen before the coding period starts.

[2017-01-18 12:52] ferrine commented on #152
@rgaiacs I've looked into GSoC rools and found that

source https://summerofcode.withgoogle.com/rules/

What should I do then? That's the end?

[2017-01-18 13:09] kain88-de commented on #152
@ferrine If you search in the page "restricted countries" are only mentioned for sending physical goods. You can ask at the google gsoc mailing list to be sure.

[2017-01-18 13:11] ferrine commented on #152
@kain88-de Thanks, I'll do it

[2017-01-18 13:14] ferrine commented on #152
I found this [issue](https://groups.google.com/forum/#!topic/google-summer-of-code-discuss/OY49p248uB8), that seems to be Ok for me

[2017-01-18 15:41] ChrisRackauckas opened #154 "Add JuliaDiffEq as a project"
JuliaDiffEq is the organization which host DifferentialEquations.jl and associated libraries for numerically solving differential equations in Julia. We have a wide range of projects already laid out [at the Julia GSoC website](http://julialang.org/soc/ideas-page#theme-numerical-methods-for-differential-equations), ([and including one more currently in a PR to the website](https://github.com/Julia

[2017-01-18 15:48] kain88-de commented on #154
ping @aterrel

[2017-01-18 18:50] jmschrei opened #155 "Add pomegranate as a project"
pomegranate is a library for fast and flexible probabilistic modeling for python, implemented in cython. We have a list of open projects stratified by model here: https://github.com/jmschrei/pomegranate/projects. I have served as a mentor for GSoC before as part of the sklearn team.

@aterrel would NumFOCUS be interested in supporting this project this summer?

[2017-01-18 21:05] aterrel commented on #154
If you are part of Julia you are definitely able to be included in our application.

[2017-01-18 21:27] ChrisRackauckas commented on #154
Do I do the full proposal through you guys and create an issue (which links over to the Julia GSoC page for the details), or is it fine to have it just handled through JuliaLang?

[2017-01-18 22:04] kain88-de commented on #154
@ChrisRackauckas You should ask the Julia project if they want to apply themselves again or with NumFOCUS. If they do it might be better for you to directly work with them and have it as a Julia Project since you seem to be a part of julia itself.

[2017-01-19 21:46] ChrisRackauckas commented on #154
Oh okay. I'm just confused as to whether every Julia organization goes together under "Julia" which applies as a NumFOCUS org, or if each do. I was just looking at past years and it looks like orgs like JuliaOpt applied as an org before, and I was wondering if that meant that each Julia org has to do so individually. Maybe @ViralBShah could chime in.

[2017-01-19 22:36] kain88-de commented on #154
Each NumFOCUS organization can also apply as an independent organization or with under any umbrella they like. But NumFOCUS runs as an umbrella org and offers the projects that is supports or is affiliated with to participate that way. This is helpful for smaller orgs that don't have many mentors, Julia is a pretty large community compared to other projects.

With the other project and yours. It l

[2017-01-20 02:13] ChrisRackauckas commented on #154
Thank you for the clarification.

I am not sure who the organization admin is, but maybe @ViralBShah is in charge here? (If there's no one who is this years GSoC admin, I'd be willing to step up)

[2017-01-20 07:34] ViralBShah commented on #154
@shashi and @MikeInnes ran the JuliaLang GSoC last year.

[2017-01-20 11:32] MikeInnes commented on #154
Happy to help out this year as well. @kain88-de – apologies for the delay and I will get back on that thread immediately, but the short answer is yes, we'll apply ourselves this year, as in previous years.

@ChrisRackauckas – JuliaLang will certainly be acting as an umbrella for the wider Julia ecosystem as well as just the core language (as it has done in previous years). You're more than welcome

[2017-01-20 11:53] ChrisRackauckas commented on #154
Alright. Thanks for the clarification. Sounds like this will be taken to Julia forums for further discussion.

[2017-01-20 11:53] #154 closed

[2017-01-30 09:24] kain88-de commented on #153
@aterrel any news if the board is says yes too?

[2017-01-31 16:06] aterrel commented on #153
Yup the board has approved MDAnalysis for as an affiliate project.

[2017-01-31 16:26] kain88-de commented on #153
Great Thanks.

[2017-01-31 16:27] #153 closed

[2017-02-01 08:32] souravsingh opened #162 "Interested in working on pymc3"
I am an undergraduate student from India interested in Machine Learning and Bioinformatics.

I am interested in working on-

1. Implement non-parameteric Bayesian methods
2. Alternative Computational Engines.

I am opening this issue as a discussion forum on the projects.

[2017-02-01 12:31] kain88-de commented on #162
ping @twiecki

[2017-02-02 10:53] twiecki commented on #162
@kain88-de Thanks. @souravsingh I suppose the question is in regards to GSoC?

I think we first need to get accepted and then you could apply for these projects, but they are certainly both on our road-map: https://github.com/pymc-devs/pymc3/wiki/GSoC-2017-projects

[2017-02-02 11:14] souravsingh commented on #162
@twiecki Should I create a proposal right now so we can discuss on concrete plans?

[2017-02-02 11:21] twiecki commented on #162
@souravsingh That's a great idea. You can open an issue on the pymc3 repo with your thoughts and ideas and we can take it from there. The non-parametric are probably easier to tackle and we already have some beginnings there (http://pymc-devs.github.io/pymc3/examples.html#gp and http://pymc-devs.github.io/pymc3/notebooks/dp_mix.html). Definitely a good idea to get a head-start and it would put you

[2017-02-02 11:57] kain88-de commented on #162
@souravsingh it's always a good idea to start with doing some examples using a local build of the project. This usually is great to get to know how things are done for your project and to get to know the codebase. I personally still do this for every new project I plan to contribute to. If you have problems the pymc people can help you on their [gitter](https://gitter.im/pymc-devs/pymc) channel.

[2017-02-02 12:36] souravsingh commented on #162
@kain88-de Thanks for the advice! I intend to help PyMC3 with creating a gallery for the examples.

[2017-02-03 07:20] #155 closed

[2017-02-03 12:38] aterrel commented on #155
Sorry I hadn't seen this before. But yes we would be happy to include you in our application this summer.

[2017-02-05 08:24] jmschrei commented on #155
Unfortunately something came up for me which will take up my time this summer. Thanks for getting back to me though!

[2017-02-05 17:40] orbeckst commented on #153
Thanks!

[2017-02-09 19:01] kain88-de opened #165 "Add Dataretriever as a sub-org"
[Dataretriever](https://github.com/weecology/retriever) wants to be a sub-org again this year. They already participated with NumFOCUS last year.

Is it OK with NumFOCUS if they participate again this year @aterrel ?

[2017-02-10 02:53] aterrel commented on #165
Yes that's fine.

[2017-02-10 08:59] #165 closed

[2017-02-28 13:27] kunalpal opened #168 "Interested in contributing to Data Retriever"
Hi, I am a graduate student from Germany interested in Data Science.

I would like to extend the [retriever](https://github.com/weecology/retriever) project as part of *GSOC '17* to include support for *spatial data* into its current implementation. I have a fair understanding of spatial data and currently working on formulating an idea to bring installation of the vast variety of GIS data under t

[2017-02-28 14:49] jainamritanshu opened #170 "Project Idea for GSoC 2017"
Hi everybody,
I am Amritanshu Jain, a sophomore currently studying at BITS Pilani, Pilani Campus. I wish to apply for GSoC under your organisation.  I have a programming experience of over six years in Python and JS, and have gained substantial command over Python libraries/frameworks such as Django, Scrapy, NumPy OpenCV, Pandas. I have also worked with Node.js and React/Redux for a few projects.

[2017-02-28 15:48] meghanagupta3 opened #171 "Clarification in Readme"
This portion of the readme.md file is very unclear.

![screenshot from 2017-02-28 21-05-20](https://cloud.githubusercontent.com/assets/13051696/23412045/53cf2dba-fdfa-11e6-862e-7d80c771f2d2.png)

The meaning of the word **session** in this particular line

_"This **session** intend to help students to find mentoring organizations that could receive their applications"_

is very ambiguous, and it i

[2017-02-28 16:02] Dr-G commented on #171
+1 to Meghana's comments.

[2017-02-28 16:10] MridulS commented on #171
It's a typo. It should be section instead of session. There are 3 types of projects under NumFOCUS umbrella [Fiscally Sponsored Projects](http://www.numfocus.org/open-source-projects.html) , [Affiliated Projects](http://www.numfocus.org/affliated-projects.html) and projects like Data Retriever which are not officially part of NumFOCUS.

[2017-02-28 20:13] #171 closed

[2017-02-28 22:34] henrykironde commented on #170
Hi @jainamritanshu, thank you for your interest in GSOC Data Retriever 2017, specifically ``Add Spatial Data Support to Data Retriever``. As part of the application, we do request student to go through the [issues of the Data Retriever](https://github.com/weecology/retriever/issues) and make some contributions.
Feel free to ask for clarification on the issues.

Additionally, we recommend students

[2017-02-28 22:46] henrykironde commented on #168
Hi @kunalpal, we appreciate the interest you shown for being part of GSOC Data Retriever 2017.
As you prepare to apply for the Summer of Code 2017, we request students to have a look at the [issues page of the Data retriever](https://github.com/weecology/retriever/issues) and make some contributions. In case you need help of any kind regarding the contributions let me know. This is a required step

[2017-03-01 08:55] kapilkd13 opened #175 "Python and Julia Interfaces for the Data Retriever for GSOC 2017"
Hi all,
I am kapil kumar from National Institute of Technology, Delhi. I have a lot of experience working with python especially with Tools like Numpy, Scrapy. I would like to submit my proposal for this project.
Right now I am looking at package Development in Julia. I am getting familiar with your code base  would like to solve a few Issues. Is there anything else I should be focusing on.
Thanks

[2017-03-01 14:54] henrykironde commented on #175
@kapilkd13, thanks for the interest in the Data retriever. If you find any difficulty in setting up the environment, let me know. The developer docs have everything that may be required. There is nothing in particular but look at the issues page of the Data retriever and solve some issues. This is a required as part of the application.

[2017-03-02 15:38] IvanYashchuk opened #179 "Interested in contributing to FEniCS Project"
Hello!
I am master student from Finland interested in Finite Element Method and Computational Mechanics.
I would like to contribute to [FEniCS Project](https://fenicsproject.org) with developing an assembly of finite elements on hex and quad meshes. I have a good understanding of FEM and would like to further grow my expertise in this field. I think gathering the existing parts on quad/hex mesh, a

[2017-03-02 16:11] chrisrichardson commented on #179
Hi

Great that you are interested in developing hex/quad elements. Some
support already exists for hex/quad Meshes and Cells, so the place to
start looking is probably in the code generation, i.e. in ffc and ufc.h
- I am not an expert in this area, so
Martin Alnaes will be the best person to ask.

I am not sure what the formal application process for GSoC is: I think
you have to apply later this m

[2017-03-03 11:56] kvnamipara opened #183 "Participation in GSOC 2017"
Hello!!

I am Kevin Amipara. I am sophomore studying NIT Surat, India. my research interest includes machine learning and artificial intelligence. I am proficient in python , R , octave/matlab , SQL and intermediate in using tensorflow. My projects include making models of machine learning and digit recognition from images using neural networks. I also build stuff using web stacks.

I would love t

[2017-03-03 14:29] henrykironde commented on #183
@kvnamipara, Thank you for the interest in contributing to the Data retriever for GSOC 2017,
As part of the application process, we do request student to go through the [issues of the Data Retriever](https://github.com/weecology/retriever/issues) and make some contributions.
Feel free to ask for clarification on the issues or to suggest a new issue.

Additionally, we recommend students to read the

[2017-03-05 23:42] ethanwhite commented on #175
Hi @kapilkd13 - it would be great to have someone work on this as I think having interfaces in the three major data science languages would help definitely help us provide a single approach to acquiring datasets regardless of the particular language someone is working in.

There is a [`getting-started` tag](https://github.com/weecology/retriever/issues?q=is%3Aissue+is%3Aopen+label%3Agetting-starte

[2017-03-06 02:31] ethanwhite commented on #183
Hi @kvnamipara - thanks for your interest in helping us improve our performance on large datasets. In general, this project would involve both fixing know issues that make the code slower than it could be an using profilers to identify other areas of the code that can be improved. For the known issues we have several open issues that lay out some of the tasks that we know would help with both comp

[2017-03-06 02:38] ethanwhite commented on #170
Hi @jainamritanshu - thanks for the contributions you've been working on and for your interest in adding spatial data support. Spatial data is becoming a really common format it would be great to support importing it into database management systems. As I mentioned over email we're also definitely interested in work actively adding new kinds of data.

You've already seen the original issue on this

[2017-03-06 05:41] kapilkd13 commented on #175
Hi @ethanwhite @henrykironde I will work on some issues. Thanks

[2017-03-08 16:15] ocefpaf opened #185 "conda-forge would like to participate in GSoC under the NumFOCUS umbrella"
We have a few [projects ideas](https://docs.google.com/document/d/1KSQvcP3Hxr60IhV-_dcGIb4IkmAEeAXNIqdX_2sqYoM/edit#) and we would love to be able to participate under the NumFOCUS umbrella.

cc @pelson, @scopatz, @jjhelmus, @msarahan, @mwcraig, @jakirkham @patricksnape, and @kain88-de

[2017-03-08 16:18] MridulS commented on #185
@aterrel

[2017-03-09 10:50] rgaiacs commented on #185
:+1: for conda-forge participate on GSoC.

[2017-03-09 11:04] MridulS commented on #185
@rgaiacs conda-forge will come under other projects right? (It's not a sponsored or affiliated project with NumFOCUS)

[2017-03-09 11:32] MridulS commented on #185
@ocefpaf It would be great if you could add more details to the ideas page. It will be a great help to prospective students. Every project idea should follow this format roughly.

- **Project description**: Make sure you have a high-level description that any student can understand, as well as deeper details.

- **Skills**: programming languages? specific domain knowledge?

- **Difficulty level**:

[2017-03-09 11:33] ocefpaf commented on #185
Perfect, thanks @MridulS. I am updating it today.

[2017-03-09 11:49] rgaiacs commented on #185
Yes.

[2017-03-09 13:40] kvnamipara commented on #183
@ethanwhite
Thank for suggesting issues. I would love to have a look and work on them. Can you give me some source from where i can read about increasing efficiency of out-of-memory scales dataset.

[2017-03-09 15:35] Dr-G commented on #185
I would suggest that adding non-affiliated, non-sponsored projects under
the NF umbrella, while potentially fine, should be cleared first with
@aterrel

:)

On Thu, Mar 9, 2017 at 5:49 AM, Raniere Silva <notifications@github.com>
wrote:

--
Dr. Gina Helfrich
Communications Director, NumFOCUS
gina@numfocus.org
512-222-5449

<http://www.numfocus.org>
<https://twitter.com/NumFOCUS> <https://www.faceb

[2017-03-09 15:38] aterrel commented on #185
Yes I would prefer that we get conda-forge to be an affliated project.

[2017-03-09 15:46] ocefpaf commented on #185
That is why we opened this issue :smile:

Ping @jjhelmus :wink:

[2017-03-09 15:47] kain88-de commented on #185
@aterrel to clarify. NumFOCUS is OK to sponsor conda-forge for GSoC this year and encourages them to become an affiliated project? Or should they first become an affiliated project?

[2017-03-09 15:59] aterrel commented on #185
Let's ask them to fill out the one pager and get them on the website. This
can happen concurrently with selection of GSOC students but I would like to
get the approval before the summer coding starts.

We need to ask Data Retriever to do this as well.

Both these projects fit well within our mission but our board needs more
documentation on which projects we work with. The affiliate project progra

[2017-03-09 16:43] patniharshit opened #188 "Wrong line in CONTRIBUTING-students.md"
In CONTRIBUTING-students.md the paragraph under the heading "Am i Experienced enough?" contains a line " The range of available projects should suit people with different backgrounds, both with and without prior experience of **computational chemistry**" which is quite out of context as num focus is not limited only to computational chemistry.

[2017-03-09 16:45] MridulS commented on #188
haha, thanks for the report :)

[2017-03-09 17:00] #188 closed

[2017-03-09 17:09] ocefpaf commented on #185
Happy to start the process. Just let me know where I can get it the one-pager.

[2017-03-09 17:42] Dr-G commented on #185
Not sure exactly the one-pager Andy is referring to, but see here:
http://www.numfocus.org/affliated-projects.html

On Thu, Mar 9, 2017 at 11:09 AM, Filipe <notifications@github.com> wrote:

--
Dr. Gina Helfrich
Communications Director, NumFOCUS
gina@numfocus.org
512-222-5449

<http://www.numfocus.org>
<https://twitter.com/NumFOCUS> <https://www.facebook.com/NumFOCUS/>

[2017-03-10 11:25] Harshish opened #192 "Improve Data Retriever efficiency for out-of-memory scale datasets"
Greetings everyone,
I am Harsis Yadav, a pre-final year student studying at Manipal Institute of Technology, Manipal. I wish to work on the project mentioned in the title. I have knowledge SQL as it was in my curriculum. Recently I have done a project in data mining (my program elective) using python implementing the Affinity Propagation algorithm. My knowledge in python includes matplotlib,numpy,

[2017-03-10 12:50] ethanwhite commented on #183
In terms of general reading you'd want to look into profilers for both [compute](https://docs.python.org/3/library/profile.html) and [memory](https://pypi.python.org/pypi/memory_profiler) (good starting points for both provided in the links. In addition the core information will be understanding databases working with large data and how to interact with them in Python, in particular parameter bind

[2017-03-10 15:07] ethanwhite commented on #192
Hi @Harshish - thanks for your interest. This project would involve fixing known issues that make the code slower/more memory intensive than it could be and using profilers to identify other areas of the code that can be improved. We have several open issues that lay out some of the tasks that we know would be helpful:

weecology/retriever#715
weecology/retriever#168
weecology/retriever#95
weecolo

[2017-03-11 18:46] #185 closed

[2017-03-12 02:07] jainamritanshu commented on #170
@ethanwhite @henrykironde I was going through a couple of articles on Spatial Databases. I found out that Postgres has a great support for spatial features, although MySQL does provide a few number of Minimum Bounding Rectangle functions. It does have some drawbacks too like while contemplating the applications, MySQL needs to be checked to see whether the necessary functions are provided or not w

[2017-03-12 23:33] ethanwhite commented on #170
I have no objections to trying to add it as well. I'd recommend including it as a stretch goal in the proposal, with the plan to work on it if the core work on Postgres & SQLite is complete and extra time is available.

[2017-03-13 16:10] martinal commented on #179
Hi Ivan,
thank you for your interest, your first pull request to UFL has just been merged into FEniCS!

[2017-03-14 22:15] asifzubair opened #196 "GSoC: contributing to pymc3"
Hi Folks,

I am a graduate student in computational biology and have been working with bayesian methods in transcriptomics and transposition dynamics. I was interested in contributing to pymc3. I'll also open an issue on the pymc3 repo and explain more detailed interests. However, the instructions said to open an issue here too - thus.

Thanks!
Asif

[2017-03-15 02:00] asifzubair commented on #196
Linking the pymc3 issue here - pymc-devs/pymc3#1899

[2017-03-15 06:26] kain88-de commented on #196
@twiecki

[2017-03-18 19:50] bwengals opened #197 "GSoC 2017, PyMC3"
Hi NumFOCUS,

I am interested in applying to GSoC 2017 to work on PyMC3.  I am particularly interested in experimenting with alternative computation engines, such as PyTorch and Tensorflow.  I am ready to submit a proposal to initiate a discussion with the potential mentors (@twiecki, @fonnesbeck).

Regarding eligibility, I am a US resident and will be starting an MS in Statistics this fall.  What

[2017-03-19 10:30] markroxor opened #198 "GSoC 2017 for mdanalysis"
Greetings, I am Mohit Rathore, pursuing Bachelor of Technology from Indian Institute Of Technology, Dhanbad (India). I am looking forward to apply for GSoC'17. I went through the project page and am willing to write a proposal for
* [Port tests to pytest](https://github.com/MDAnalysis/mdanalysis/wiki/GSoC-2017-Project-Ideas#port-tests-to-pytest)

I have posted few queries in the [mailing list](htt

[2017-03-19 11:19] jbarnoud commented on #198
Thank you for your interest. I replied to your email on our mailing list: <https://groups.google.com/forum/#!topic/mdnalysis-devel/TCz4NwALBWU>.

[2017-03-20 07:59] jainamritanshu commented on #170
@ethanwhite @henrykironde As I was going through the vector and rastar data types, I realized that both of them are suitable for different types of datasets separately. Like vector data type is more suitable for **Human World** (Like census data and more) and raster data type with **Natural World** (Like information related to landslides etc in particular regions). So should we give the selection

[2017-03-20 09:02] twiecki commented on #197
@bwengals 👍

[2017-03-20 10:00] bhargavvader opened #199 "Applying to pymc3 for GSoC 2017"
Opening an issue because I hadn't before - #186 is my proposal for pymc3.

[2017-03-20 11:51] henrykironde commented on #170
The composition, abstraction or more broadly the object oriented design concepts will be very clear as we work on this project.

Given that we have the categorization of each dataset(either a vector or a raster dataset) and the properties of each, the users will select only the information they want. For example, we know that our dataset A is a vector with a finite set of properties. If the user w

[2017-03-21 17:00] vidursatija opened #201 "Applying to matplotlib for GSoC 2017"
Opening an issue to get my draft proposal reviewed.

[2017-03-21 17:36] sahmed95 opened #203 "Applying to conda-forge for GSoC 2017"
Hi, I wish to apply to conda-forge for Google Summer of Code 2017. The project I am interested in is *Enhancing conda-smithy*. @MridulS

[2017-03-21 17:39] MridulS commented on #203
@ocefpaf

[2017-03-24 10:37] jainamritanshu commented on #170
@henrykironde @ethanwhite are there any specific gis datasets you are planning to incorporate in dataretriever?

[2017-03-24 15:14] ocefpaf commented on #203
Thanks for the ping @MridulS!

@sahmed95 and I are already in touch via gitter (https://gitter.im/conda-forge/conda-forge.github.io).

@sahmed95 Let me know if you need any help with the application.

[2017-03-24 18:52] henrykironde commented on #170
@jainamritanshu, ogr2ogr, is basically Gdal which we shall definitely use for processing(reading, writing) the Gis datasets.
Examples of these data sets are here
https://freegisdata.rtwilson.com/
https://grass.osgeo.org/download/sample-data/
There are many file formats for both vector (including GeoJSON/TopoJSON) and raster data. However, not all are used frequently. We shall try to cover most of

[2017-03-24 19:01] sahmed95 commented on #203
@ocefpaf Thanks. I will let you know if I need more help.

@MridulS Could you please update the NumFocus GSoC page to include conda-forge as I cannot find it in the list of NumFocus suborgs.

[2017-03-25 13:49] jainamritanshu commented on #170
@henrykironde @ethanwhite I have prepared my first draft of the **[proposal](https://github.com/jainamritanshu/gsoc/blob/master/2017/proposals/amritanshu-jain_data-retriever.mdown)**. Kindly review it and any suggestions such as overloading the timeline or maybe things I am missing onto would be very helpful.

[2017-03-26 18:23] patniharshit opened #208 "Applying to Matplotlib for GSOC 2017"
Opening an issue (proposal is at #209) to get the proposal reviewed by mentors.

[2017-03-26 18:37] kain88-de commented on #208
@story645 @tacaswell

[2017-03-27 13:22] henrykironde commented on #192
Hi @Harshish, This is a reminder that the student application period is closing on April 3 16:00 UTC.
If you need help with your application, do not hesitate to let us know. We shall need to review the application so If you work on it early the better. Thanks.

[2017-03-27 13:23] henrykironde commented on #183
Hi @kvnamipara, this is a reminder that the student application period is closing on April 3 16:00 UTC.
If you need help with your application, do not hesitate to let us know. We shall need to review the application so If you work on it early the better. Thanks.

[2017-03-27 13:25] henrykironde commented on #168
Hi @kunalpal , this is a reminder that the student application period is closing on April 3 16:00 UTC.
If you need help with your application, do not hesitate to let us know. We shall need to review the application so If you work on it early the better. Thanks.

[2017-03-27 13:57] henrykironde commented on #175
Hi @kapilkd13, this is a reminder that the student application period is closing on April 3 16:00 UTC.
If you need help with your application, do not hesitate to let us know. We shall need to review the application so If you work on it early the better. Thanks.

[2017-03-27 15:19] kapilkd13 commented on #175
Hi @henrykironde Thanks for reminding. I was actually working on my proposal. I would like to share the proposal with you and @ethanwhite .I found his mail id but couldn't find you mail id. Can you share a mail id where I can send my proposal. Thanks

[2017-03-27 15:56] kain88-de commented on #175
Just upload the proposal to the GSoC website. Both mentors will be able to view and comment it there.

[2017-03-27 16:36] kapilkd13 commented on #175
Thanks @kain88-de I will do that

[2017-03-27 17:21] kapilkd13 commented on #175
Hi @henrykironde @ethanwhite  I have shared my proposal for "Adding python Interface and adding Command line wrapper for Retriever in Julia". Your reviews would be really helpful and would help me make a more insightful proposal. Thanks

[2017-03-27 18:29] jainamritanshu opened #210 "Data retriever not appearing in NUMFOCUS proposal tag field while sharing the draft"
I guess the `Data Retriever` tag is not present in the NUMFOCUS proposal tag field in the GSoC student dashboard while sharing the proposal.
![screenshot from 2017-03-27 23-54-16](https://cloud.githubusercontent.com/assets/15127027/24371700/4e2dfe90-1349-11e7-9dc4-c3c8bb9e2728.png)

[2017-03-27 18:32] kain88-de commented on #210
We can only have 5 tags. Just start your proposal name with the organization you want to work with.

[2017-03-27 18:34] jainamritanshu commented on #210
@kain88-de Sure! Thanks for the reply.

[2017-03-27 18:46] #210 closed

[2017-03-28 02:35] kvnamipara commented on #183
hello @henrykironde Thanks for reminder. I am working on proposal and will give by tonight. thank you.

[2017-03-28 08:06] kvnamipara commented on #183
@henrykironde
Hello,
Should I submit draft through GSOC portal, or i have to submit here as for review. Also their is no mention of Data Retriever under the tag which we have to mention in `proposal details` in GSOC portal on numfocus organisation's proposal submission page.
![screen shot 2017-03-28 at 1 31 22 pm](https://cloud.githubusercontent.com/assets/18012563/24394771/e54e3350-13ba-11e7-812b

[2017-03-28 08:40] kain88-de commented on #183
Please submit to the GSoC website. Only there your application will count with google. Start your application with the name of your organization. Then it can still be sorted by us.

[2017-03-28 11:13] michalhabera opened #211 "Applying to FEniCS for GSOC 2017, idea: XDMF IO"
I am opening this issue for the proposal review process.

[2017-03-28 13:47] henrykironde commented on #183
@kvnamipara you can submit the draft on the website ans still edit it.

[2017-03-28 15:51] ssequeira opened #214 "Applying to PyMC3 for GSoC 2017"
My proposal on implementing Bayesian nonparametric models is [here](https://github.com/numfocus/gsoc/pull/213).

[2017-03-28 16:32] hminle opened #215 "[PyMC3] Applying for GSoC 2017"
Hello NumFOCUS,

I am currently attending an MS program in Computer Science in Korea. I am applying for GSoC 2017 to contribute to PyMC3. I am interested in implementing alternative computational engines for PyMC3. I have written my proposal and ready to submit it.

Kind regrads,
Hoang

[2017-03-28 17:12] kvnamipara commented on #183
@henrykironde I have submitted it through GSOC portal. Thank you.

[2017-03-31 03:27] bwengals opened #217 "GSoC 2017, PyMC3, float32 and GPs"
Hi NumFOCUS,

I am submitting an additional proposal for PyMC3 about fixing float32 support and extending Gaussian Process functionality.  I am interested in working under the mentorship of @fonnesbeck and @twiecki, or other devs who may be interested.  The PR is #218.

Bill

[2017-03-31 17:40] ethanwhite opened #220 "Add `retriever` tag to GSoC proposals site"
Would it be possible to add a `retriever` category to the GSoC proposals site like those for other projects? Thanks.

[2017-03-31 17:48] kain88-de commented on #220
No sorry. We can only have 5 tags. Your students can prepent their application titels with [retriever] to make them more recognizable.

[2017-03-31 17:48] #220 closed

[2017-03-31 17:48] MridulS commented on #220
We can only have 5 tags. We can tell the students to start the title with something like `[Data Retriever] Project idea. `

[2017-03-31 17:49] ethanwhite commented on #220
:+1:

[2017-04-02 03:52] kahnchana opened #222 "GSoC 2017 - Matplotlib: Categorical Color"
My final proposal is at pull request: #219
Mentors are @tacaswell  and @story645. It has already been reviewed once by the mentors.
Do suggest any feedback regarding the proposal.

[2017-04-02 17:08] alekhka opened #225 "[PyMC3] Applying for GSoC 2017"
Opening the issue as I hadn't earlier for #224

[2017-04-02 22:53] jainamritanshu commented on #170
I have made a [pull request](https://github.com/numfocus/gsoc/pull/227) in the gsoc repository to submit my proposal and I have submitted the final proposal through the GSoC portal :smile:

[2017-04-03 15:12] chinmayapancholi13 opened #231 "Applying to Gensim for GSOC 2017"
Opening an issue as I hadn't earlier for #230. The topic of my project is **Gensim integration with scikit-learn and Keras**.

[2017-04-03 22:16] saparina opened #235 "[Gensim] Applying for GSOC 2017"
Opening the issue for #234

[2017-04-03 22:56] parulsethi opened #237 "[Gensim] Applying for GSOC 2017"
Created PR https://github.com/numfocus/gsoc/pull/236 for my proposal. Topic for my Project is Training and Topic Visualizations

[2017-04-04 14:00] shubhvachher opened #240 "[Gensim] Applying for GSOC 2017"
The proposal is at the pull request #239.

I am Shubh Vachher, a 3rd year student pursuing undergrad at Birla Institute of Technology and Science, Pilani, Goa Campus, India.

The proposal is to work on **Performance improvements in Gensim and current FastText implementation**

[2017-04-04 15:06] prakhar2b opened #242 "[Gensim] Applying for GSOC 2017"
Created PR #232 for my gsoc proposal with gensim. Topic for my project is "Performance Improvement in gensim and fastText"

[2017-04-04 16:22] #222 closed

[2017-04-04 19:14] #242 closed

[2017-04-04 19:14] #240 closed

[2017-04-04 19:14] #237 closed

[2017-04-04 19:14] #235 closed

[2017-04-04 19:14] #231 closed

[2017-04-04 19:14] #225 closed

[2017-04-04 19:14] #217 closed

[2017-04-04 19:14] #215 closed

[2017-04-04 19:15] #199 closed

[2017-04-04 19:15] #201 closed

[2017-04-04 19:15] #203 closed

[2017-04-04 19:15] #208 closed

[2017-04-04 19:15] #211 closed

[2017-04-04 19:15] #214 closed

[2017-04-04 19:15] #152 closed

[2017-04-04 19:16] #198 closed

[2017-04-04 19:16] #197 closed

[2017-04-04 19:16] #196 closed

[2017-04-04 19:16] #192 closed

[2017-04-04 19:16] #183 closed

[2017-04-04 19:16] #179 closed

[2017-04-04 19:16] #175 closed

[2017-04-04 19:16] #170 closed

[2017-04-04 19:17] #168 closed

[2017-04-04 19:17] #162 closed

[2017-12-14 03:47] CJ-Wright opened #247 "2017 has 2018's conda-forge doc"
It seems that the link for the 2017 conda-forge idea (in the `ideas.md`) links to 2018's ideas.

[2017-12-14 06:40] kain88-de commented on #247
they are using the same google document. We don't forbid doing that.

[2017-12-14 14:43] CJ-Wright commented on #247
That's fair I just thought it would be good to put it in the 2018 folder, since it has 2018 content.

[2017-12-14 14:46] kain88-de commented on #247
I plan to update this soon when I get more ideas pages from the other projects as well.

[2018-01-19 19:47] duskybomb opened #253 "Broken README link"
The `README.md` link is broken on the web page `https://github.com/numfocus/gsoc/blob/master/2018/ideas-list.md`

[2018-01-19 20:20] #253 closed

[2018-02-13 20:54] #247 closed

[2018-02-26 13:40] ethanwhite opened #262 "Mentor invite"
I don't seem to have received a mentor invite for this year. Can an admin create one for ethan@weecology.org? Thanks.

[2018-02-26 13:49] MridulS commented on #262
Just sent you one :)

On Mon, Feb 26, 2018 at 1:40 PM, Ethan White <notifications@github.com>
wrote:

[2018-02-26 13:55] ethanwhite commented on #262
Got it. Thanks!

[2018-02-26 13:55] #262 closed

[2018-03-25 19:20] CoronaeW opened #267 "GSOC 2018 of data-retriever"
Hi everyone:
 I`m Xian Wang,  a senior of University of Science and Technology of China, major in Physics and also have a dual major in computer science. I wish to work on the project named Improve Data Retriever efficiency for out-of-memory scale datasets. I have practiced Python and R in my daily research and study.

I`d like to participate in GSOC 2018 under your project.

 Thank You,
 Xian
#Da

[2018-03-25 19:39] henrykironde commented on #267
Hi @CoronaeW, thank you for your interests in the Data retriever for GSoC. Please go ahead and write a proposal. The end date for applications is March 27, 2018. Google emphasizes that the students get to contribute to the project before application(this is very important).

[2018-03-25 21:37] CoronaeW commented on #267
@henrykironde I know it`s a little bit late to apply for the project. I have drafted my proposal already, what should I do next?

[2018-03-25 22:40] henrykironde commented on #267
Well you have enough time till the selection period. Incase you want to add the contributions to the project, this link will give you all the contributions you have made till the selection date
https://github.com/weecology/retriever/commits?author=CoronaeW

[2018-03-26 17:51] #267 closed

[2018-04-04 20:34] ColCarroll opened #276 "Project description update"
The project description has an old URL.  The new one is:

https://www.numfocus.org/programs/google-summer-code/

[2018-08-19 05:43] Vishnupriya1507 opened #281 "[outreachy/gsoc] aspirant"
I'm Vishnupriya Srivastava, from India.I am completing my graduation from Bits Pilani,India.I am a backend developer.I've done projects for my college using django framework,recently i worked with django channels creating a multichat gaming website.I know c and python and recently learning docker.
I would like to contribute to your project either by participating in outreachy or gsoc.
I read about

[2019-03-01 09:57] ahafeez8 opened #300 "DASH"
Is Dash not a part of GSOC 2019? It was on the list previously.

[2019-03-01 10:03] MridulS commented on #300
Unfortunately they had to back out, so they aren't participating this year.

[2019-03-01 10:03] #300 closed

[2019-03-02 16:16] coolalexzb opened #301 "Aspirant for Gsoc2019"
Hello, my name is Bo Zheng and I am an undegraduate from China.  I am eager to paticipate in Gsoc this summer and I am interested in the idea called "Extract Scripts into Separate System". I have done research related to big data and data mining and I understand the importance of processing data in the first step.  I have read  the document of data retriever and the idea of "Extract Scripts into S

[2019-03-02 19:24] CAM-Gerlach opened #303 "Make the overall outline of the procedure/schedule for students (and orgs) much clearer"
As a mentor and assistant organizer for the Spyder IDE org, I had a really hard time finding a step by step outline of exactly what was the overall outline of the whole process for either students or orgs, nor even an approximate idea of the timeline of each phase. Neither the main Readme nor the Contributing Guides for students nor orgs contained any concrete, "big picture" information about the

[2019-03-02 21:12] MridulS commented on #303
thanks for the feedback @CAM-Gerlach

We have 2 guides [one for mentors](https://github.com/numfocus/gsoc/blob/master/CONTRIBUTING-mentors.md) and [one for students](https://github.com/numfocus/gsoc/blob/master/CONTRIBUTING-students.md). These are general guides, we haven't put in any exact dates as they change every year. There are "official" guides from Google -> https://google.github.io/gsocgui

[2019-03-03 12:29] #276 closed

[2019-03-03 12:29] #281 closed

[2019-03-03 12:59] kain88-de commented on #301
ping @henrykironde

[2019-03-03 17:17] ethanwhite commented on #301
Hi @coolalexzb - glad to hear that you're interested in working with us as part of GSoC. The right place to start this conversation is in our gitter channel https://gitter.im/weecology/retriever, so why don't you drop this same text over there to say Hi and we'll take things from there.

[2019-03-03 17:18] ethanwhite commented on #301
Closing this as we'll continue this conversation in retriever specific spaces.

[2019-03-03 17:18] #301 closed

[2019-03-04 04:06] veer11997 commented on #303
@MridulS i am looking forward to work on the project .as the mentor will come up with their ideas on the project issue.

[2019-03-04 04:08] CAM-Gerlach commented on #303
@veer11997 Sorry, but could you explain how whatever you meant above has anything to do with the issue at hand?

[2019-04-09 02:44] story645 opened #306 "Bring back proposal template"
I know it's too late for this year, but for next is it possible to bring back a link to the [template](https://github.com/numfocus/gsoc/blob/master/templates/proposal.md) I just sent a couple applicants a link to my old proposal 'cause they're having a hard time wrapping their  heads around what sections need to be in the proposal.

[2019-04-09 10:00] MridulS commented on #306
I guess you are talking about the draft to final proposal on GSoC website, if I remember correctly I don't think that is possible. The only way I can think of is to ask the student to create a new google email and then just do the whole process again.

[2019-04-09 10:09] MridulS commented on #306
Oh wait I think I misunderstood, the template is available for this year too. The information is available on NumFOCUS org page on GSoC website.
We should probably add a clear link to the template at https://github.com/numfocus/gsoc/blob/master/CONTRIBUTING-students.md

[2019-04-09 16:47] story645 commented on #306
Yes, your second reply is what I meant. I think it'd be helpful to add a clear link in contributing-students.

[2019-04-09 16:55] MridulS commented on #306
Added the link -> https://github.com/numfocus/gsoc/commit/405f400dcbe8a300f318d48acfd8ab70bc042a1a

[2019-04-09 16:55] #306 closed

[2019-10-15 20:25] #303 closed

[2019-10-19 15:29] MridulS opened #307 "RSS feeds like PSF for student blogposts?"
https://github.com/python-gsoc/python-blogs

[2019-10-19 15:52] Dr-G opened #308 "Org Admin Tasks to prep for 2020 (discussed at GSoC Mentor Summit '19)"
- ~Make sure we have a directory of mentors & their sub-orgs~ directory of sub orgs on homepage
- @Dr-G to read thru full NF GSoC repo and make edits for language
- ~Make sure repo points to NF [Code of Conduct](https://numfocus.org/code-of-conduct)~ https://github.com/numfocus/gsoc/pull/327
- Hold a call in February to get all sub-org mentors on the same page about the 2020 program, i.e. - outrea

[2019-10-19 15:55] Dr-G commented on #307
We could either have an RSS feed somehow, or we could provide a centralized platform for blogging. For example, roll a Jekyll blog off GitHub pages and require all students to use that to post their blogs.

[2019-10-19 15:56] Dr-G opened #309 "Send out GSoC 2019 post-survey/feedback form to sub-org mentors"
@MridulS should we just use the Mentors google group to send this out?

[2019-10-19 15:57] Dr-G opened #310 "Update NumFOCUS.org GSoC page"
Make sure the website and the repo are saying the same things.

[2019-10-19 19:33] kain88-de commented on #310
Would it be possible to sunset this repo and only use the website?

[2019-10-20 08:12] Dr-G commented on #310
Yes, but...

updating the website is not very easy to do for anyone outside of NumFOCUS staff — in other words, it's much easier to make edits collectively using the repo. Worth a discussion, though.

[2019-10-20 08:50] MridulS commented on #310
I would be -1 on using the website instead of this repo as there is valuable old information in this repo from previous years which students can go through easily.

[2019-10-20 09:54] Dr-G commented on #307
Technical question: Do you know if we could build an RSS feed that would capture the past student blog posts?

[2019-10-20 10:06] MridulS commented on #307
Not so sure about the effort but its doable.

[2019-10-20 15:08] kain88-de commented on #307
just capture the old posts or the blogs? The posts are not an issue, some manual effort to collect the links. The blogs are dependent on the student setup.

[2019-10-20 15:24] kain88-de commented on #310
I did not say delete the content here. However, having to update just one website would be nice. subdomain forwarding to a GitHub repo would also be good. The coala project has a nice [static website](https://projects.coala.io/) we can fill from a Github project. The project overview could even be just an iFrame. This project information is the most volatile during GSoC anyway, all the other texts

[2019-10-26 09:28] MridulS commented on #310
The website is definitely a great idea, but should we make a new website for each year?  I don't want to overwrite project ideas from 2020 with 2021 for example.
Like if I want to have a look at the ideas page of pymc3 from 2017, I could go to https://github.com/numfocus/gsoc/blob/master/2017/ideas-list.md and have a look.

Is it possible to make the information stay (and we update only one place)

[2019-10-28 07:27] kain88-de commented on #310
Linking to previous gsoc years is not a problem. Your point of looking at
old ideas is not fully working currently. Not all participating orgs store
the ideas in our repo.

On Sat 26. Oct 2019 at 11:28, Mridul Seth <notifications@github.com> wrote:

[2020-01-02 02:47] mrinalnilotpal opened #314 "Contacting Mentors"
Respected sir/mam
                            I  am Nilotpal Mrinal from India. I have decided to work on a project under numfocus. But I am unable to contact the mentors to start communication and consequently to get suggestions and guidance from them. please help me in this regard.

                                                                                                  Thanking You!!

[2020-01-02 02:51] MridulS commented on #314
We are still in the process of finalising projects for 2020, but you can go ahead and look at some of the projects https://github.com/numfocus/gsoc#organizations-confirmed-under-numfocus-umbrella , NumFOCUS is an umbrella org so every project is independent and you can look at them to find the contact information.

[2020-01-02 02:51] #314 closed

[2020-03-01 10:47] Saichethan opened #338 "Getting Started"
Hello,

I am Saichethan Reddy, a third year computer science undergrad at IIIT BH. I am interested in "Data Retriever: Improve environment setup and installation on all platforms for all Data Retriever ecosystem services" project and would like work on it as a student developer for GSoC 2020. How can I improve my chances of getting selected?

[2020-03-02 02:42] henrykironde commented on #338
Hi @Saichethan we are really excited to learn that you want to take part in GSoC 2020. The Data Retriever's  idea list is here https://github.com/weecology/retriever/wiki/GSoC-2020-Project-Ideas.

I do recommend you look at the respective projects' source pages. In case for the Data Retriever, you can find it [here](https://github.com/weecology/retriever/issues?q=is%3Aissue+is%3Aopen+label%3Agetti

[2020-03-02 02:43] #338 closed

[2020-03-04 20:34] story645 opened #339 "Updating the Readme"
Hi,
Is the Readme manual html or generated somewhere 'cause I'd really like to update Matplotlibs info if possible.
Thanks

[2020-03-04 20:43] kain88-de commented on #339
The read me is manually edited. You should be able to just hit the edit button in GitHub and create a PR.

[2020-03-05 05:58] #339 closed

[2020-05-08 02:39] henrykironde commented on #307
@MridulS I have looked into RSS setup one draw back is the maintenance for such a platform.
I think we should think of @Dr-G proposal

[2020-05-08 02:43] MridulS commented on #307
With 30 students it could get messy.
Let's rethink this later, and go ahead without a single aggregated feed this year.

[2021-01-22 07:43] santiagobadia opened #341 "Gridap in affiliated organizations section"
Would it be possible to include Gridap in the Affiliated Organizations GSoC Status? We are planning to participate

[2021-03-28 09:14] MridulS commented on #341
Keeping a track of *all* the sponsored and affiliated projects is getting harder now so dropped all of them from the README.

[2021-03-28 09:14] #341 closed

[2021-04-05 03:16] trangdang168 opened #366 "Interested in Working on Data Retriever Package"
Hi Henry(@henrykironde ) and Ethan (@ethanwhite),

I'm Trang Dang, a sophomore from Bryn Mawr College. I'm reaching out to ask about the data retriever, support for login/API project, and I'm a little bit confused about what would be the best way to start this project. I would love some help!

Many thanks,
Trang

[2021-04-05 03:21] henrykironde commented on #366
Hi @trangdang168 the project's main page is https://github.com/weecology/retriever
Communication channel  could be through the Gitter page or the Issues.https://gitter.im/weecology/retriever

Closing this, guided the student to the real page

[2021-04-05 03:21] #366 closed

[2021-11-05 18:00] chet400 commented on #309
It will be good if we keep them for students also
so they can learn from that.

[2021-11-05 18:09] MridulS commented on #309
@chet400 thanks for the suggestion but unfortunately I don't think we ended up creating the survey (atleast can't see in my previous emails)

[2021-11-05 18:09] #309 closed

[2021-11-05 18:10] MridulS commented on #310
Closing this for now as we are still using this repo to work on this.

@henrykironde let me know if you think further pursue this?

[2021-11-05 18:10] #310 closed

[2021-11-05 18:11] MridulS commented on #307
Well we had even more (45) students this year. Closing this until we come up with an actionable step :)

[2021-11-05 18:11] #307 closed

[2021-11-05 18:14] MridulS opened #369 "Changes announced for GSoC 2022"
There were significant changes announced for GSoC 2022 and we need to start working on announcing this to all sub-orgs and work on some more policies, specifically related to slots.

We should also go through https://github.com/numfocus/gsoc/issues/308 once again.

cc @henrykironde

[2021-11-05 18:14] MridulS commented on #308
closing this for https://github.com/numfocus/gsoc/issues/369

[2021-11-05 18:14] #308 closed

[2021-12-04 17:40] rahulchandra17 commented on #369
I want to contribute please guide

[2021-12-06 16:13] MridulS commented on #369
@rahulchandra17 This repository is for administration of NumFOCUS GSoC application, if you would like to get more information about contributing to projects you can go through the list of projects that participated under the NumFOCUS this year at https://github.com/numfocus/gsoc#organizations-confirmed-under-numfocus-umbrella :)

[2021-12-09 09:06] SaurabhMunghate opened #370 "Gsoc"

[2021-12-09 09:06] #370 closed

[2022-01-03 18:29] Kareem-negm commented on #369
Hello @MridulS  ,I want to ask you about Sub-org that will participate this year
this question actually because I start contributing with dask since a month for GSoC22 but I am worried about if it will join with numfocus this year or not

[2022-01-03 19:04] MridulS commented on #369
It's too early to give an answer :)

[2022-01-03 19:08] Kareem-negm commented on #369
Ok, I will still contribute until I know
thanks

[2022-01-05 13:50] Nageshbansal commented on #369
@MridulS is there any discord server or slack for data retriever.

[2022-01-05 15:33] MridulS commented on #369
@Nageshbansal https://gitter.im/weecology/retriever

[2022-01-10 04:28] hardik-bit commented on #369
I want to contribute
please guide me

[2022-01-10 08:01] MridulS commented on #369
@hardik-bit This repository is for administration of NumFOCUS GSoC application, if you would like to get more information about contributing to projects you can go through the list of projects that participated under the NumFOCUS last year at https://github.com/numfocus/gsoc#organizations-confirmed-under-numfocus-umbrella :)

[2022-02-16 02:45] kmaehashi opened #376 "Logo needs to be added for newly added projects"
It seems that newly added projects have a wrong logo in [README](https://github.com/numfocus/gsoc/blob/master/README.md).

* CuPy logo is used for CVXPY
* Gridap logo is used for FEniCS
* signac logo is used for Taskflow and Zarr

cc/ @MridulS

[2022-02-16 06:59] MridulS commented on #376
Yeah I need to update the logos for the new projects :)
Thanks for the catch.

[2022-02-16 23:43] rileyjmurray opened #382 "Changes to CVXPY's GSoC 2022 listing"
Hi there!

The links to CVXPY's "Ideas List" and "Contact Info" are broken on the repo's README. Here's the link to our ideas list:

https://github.com/cvxpy/GSOC2022

For our contact info, a link to our Discord would make the most sense:

https://discord.gg/4urRQeGBCr

Could someone please update those?

As a final point: CuPy's logo is appearing twice, once next to CuPy's name and once next to C

[2022-02-17 09:15] henrykironde commented on #382
Thanks for the issue @rileyjmurray we shall update this. You could also update and create a PR if we have not yet updated.

[2022-02-21 08:46] henrykironde opened #392 "PyMC3 Idea list missing"
@fonnesbeck is the idea list ready or am I missing something?
If yes, could you put in a PR on the [README.md](https://github.com/numfocus/gsoc/blob/master/README.md)  page and on https://github.com/numfocus/gsoc/blob/master/2022/ideas-list.md

[2022-02-21 16:15] #392 closed

[2022-02-25 05:23] henrykironde opened #396 "Urgent: Update the GSoC idea list"
Please confirm that you have updated your list as mentioned

- [ ] ArviZ
- [ ] CB-Geo MPM
- [ ] CuPy
- [ ] CVXPY
- [ ] Data Retriever
- [ ] FEniCS
- [ ] FluxML
- [ ] GeoPandas
- [ ] Gridap
- [ ] NetworkX
- [ ] Optuna
- [ ] pvlib
- [ ] PyBaMM
- [ ] PyMC
- [ ] PySAL
- [ ] PyTorch-Ignite
- [ ] QuTiP
- [ ] SciML
- [ ] signac
- [ ] Taskflow
- [ ] Zarr

[2022-02-25 05:59] henrykironde commented on #396
@chrisrichardson (FEniCS) and @ChrisRackauckas  (SciML) could you please confirm that you project meets these requirement.

1. Be sure to include whether the project is a 175 hour (medium sized) or 350 hour (large project). If it can be either, please state that-per idea.
2. `Your Ideas Page URL should be accessible to all and not require login. --- (Covered)`
3. As we state in the Defining a Proj

[2022-02-25 08:09] rileyjmurray commented on #396
@henrykironde CVXPY's GSoC proposal has been updated.

[2022-02-25 08:17] fverdugo commented on #396
@henrykironde I confirm that Gridap's proposal meets the requirements.

[2022-02-25 08:18] henrykironde commented on #396
CVXPY has two potential projects for GSoC 2022. The first project is large (350 hours) and the second is medium (175 hours). See below for details!

Move this part to be under the respective projects

[2022-02-25 10:26] twiecki commented on #396
PyMC's project list: https://github.com/pymc-devs/pymc/wiki/GSoC-2022-projects I updated.

[2022-02-25 11:27] brosaplanella commented on #396
PyBaMM project list meets the requirements: https://github.com/pybamm-team/PyBaMM/wiki/GSoC-2022-Projects

[2022-02-25 12:02] hodgestar commented on #396
@henrykironde Confirming that I've cleaned up QuTiP's ideas list a bit. All done.

[2022-02-25 15:27] rileyjmurray commented on #396
Done!

[2022-02-25 15:28] #382 closed

[2022-02-25 15:45] darsnack commented on #396
FluxML's list has been updated: https://github.com/FluxML/Flux.jl/issues/1890

[2022-02-25 16:42] bdice commented on #396
Hi @henrykironde, thanks for reaching out. We have updated our GSoC project ideas document to clearly align with the [guidelines](https://github.com/glotzerlab/signac/issues/689) as requested. https://github.com/glotzerlab/signac/wiki/GSoC-2022-Projects

Thank you very much!

[2022-02-25 17:25] tsung-wei-huang commented on #396
Hi @henrykironde , thanks for reaching out. We have updated the [Taskflow GSoC project ideas](https://github.com/taskflow/GSoC2022) to align with suggested guidelines.

[2022-02-25 18:57] ChrisRackauckas commented on #396
@henrykironde SciML was updated for the requirements https://sciml.ai/dev/

[2022-03-08 08:08] #376 closed